<div id="page-editor-preview">
	<div id="icon-page-editor-preview-close" class="pad-10 bg-white rounded shadow">
		<div><i class="icon close red circular"></i></div>
	</div>
	<div id="page-editor-preview-stage">
		<p class="font-size-6 bold">Preview de conteúdo</p>
		<div id="page-editor-preview-stage-content"></div>
	</div>
</div>