<!-- OVERLAY DE EDIÇÃO DA VIEW !-->
<div id="dv-view-editor-hover" data-view_id="0" data-view_cod="" data-id="">
	<div id="btn-view-content-position-up" class="ui icon circular mini basic button">
		<i class="chevron up icon"></i>
	</div>
	<div id="btn-view-content-position-down" class="ui icon circular mini basic button">
		<i class="chevron down icon"></i>
	</div>
	<div id="btn-view-content-editar" class="ui icon circular mini green button">
		<i class="write icon"></i>
	</div>
	<div id="btn-view-content-excluir" class="ui icon circular mini red button">
		<i class="trash icon"></i>
	</div>
	<div id="dv-view-editor-hover-stage" class="pos-full rounded"></div>
</div>

<!-- EDITAR O TÍTULO DO CONTEÚDO !-->	
<div id="dv-page-editor-edit-title">
	<div class="ui form">
		<div class="field">
			<input id="cp-page-editor-edit-title" type="text" placeholder="">
		</div>
	</div>
</div>

<!-- BOTÕES DO EDITOR !-->
<div id="dv-page-editor-edit-menu" class="border-b-3 border-color-grey-light pad-b-10 margin-b-10">
	<div class="grid">
		<div class="grid-8 text-l">
			<button id="btn-page-editor-edit-back" class="ui circular basic icon button">
				<i class="reply icon"></i>
			</button>
			<button id="btn-page-editor-edit-salvar" class="ui circular green icon button">
				<i class="save icon"></i>
			</button>
		</div>
		<div class="grid-4 text-r">
			<div class="ui left icon input adm_popup" data-content="Espaço entre blocos">
				<input id="cp-page-editor-edit-margin-bottom" type="number" placeholder="Margem..." style="width: 140px;">
				<i class="arrows alternate vertical icon"></i>
			</div>
			<div class="ui left icon input adm_popup" data-content="Largura do seu projeto">
				<input id="cp-page-editor-edit-width" type="number" placeholder="Largura..." style="width: 140px;">
				<i class="arrows alternate horizontal icon"></i>
			</div>
			<button id="btn-page-editor-edit-download" class="ui circular basic icon button adm_popup" data-content="Download do pacote">
				<i class="download icon"></i>
			</button>
			<button id="btn-page-editor-edit-cod-html" class="ui circular basic icon button adm_popup" data-content="Visualizar o código HTML da página">
				<i class="code icon"></i>
			</button>
			<button id="btn-page-editor-edit-preview" class="ui circular basic icon button adm_popup" data-content="Visualizar">
				<i class="eye icon"></i>
			</button>
			<button id="btn-page-editor-edit-fullscreen" class="ui circular basic icon button adm_popup" data-content="Trabalhar em tela cheia">
				<i class="expand arrows alternate icon"></i>
			</button>
			<!-- 
			<button class="ui circular basic icon button adm_popup" data-content="Configure sua página">
				<i class="settings icon"></i>
			</button>-->
			<!-- <button class="ui circular basic icon button adm_popup" data-content="Comentários sobre esse item">
				<i class="comments icon"></i>
			</button>
			<button class="ui circular basic icon button adm_popup" data-content="Enviar por FTP">
				<i class="share icon"></i>
			</button> 
			-->
		</div>
	</div>
</div>

<!-- BLOCO DE VIEWS ADICIONADAS (STAGE) !-->
<div id="dv-page-editor-edit-view-list-block">
	<div id="dv-page-editor-edit-view-list"></div>
</div>

<!-- BOTÃO PARA ADICIONAR UMA NOVA VIEW À PÁGINA !-->
<div id="btn-page-editor-edit-add-content" class="text-c adm_popup" data-content="Adicione um novo conteúdo à sua página" data-position="top center">
	<div class="pad-10">
		<i class="icon plus circular orange inverted big"></i>
	</div>
</div>

<!-- GERAR O CÓDIGO HTML DA PÁGINA !-->
<div id="dv-page-editor-edit-cod-html-stage" class="hide">
	<div class="rounded shadow">
		<div class="pad-20">
			<div class="ui form">
				<div class="field">
					<label>Código HTML</label>
					<textarea id="cp-page-editor-content-to-save"></textarea>
				</div>
			</div>
		</div>
		<div id="dv-page-editor-edit-cod-html-stage-btn-close">
			<div class="ui icon button">
				<i class="close icon"></i>
			</div>
		</div>
	</div>
</div>

<!-- TROCAR A URL DE IMAGENS NO MOMENTO DO DOWNLOAD !-->
<div id="dv-page-editor-edit-download-modal" class="hide">
	<div class="bg-white pad-20 rounded shadow">
		<p>Informe a url final de imagens: </p>
		<div class="ui action input fluid">
			<input type="text" id="cp-page-editor-url-img-to-save" placeholder="http://...">
			<button id="btn-page-editor-edit-download-exec" class="ui teal right labeled icon button">
				<i class="download icon"></i>
				Download
			</button>
		</div>
	</div>
</div>