<div class="border-b-3 border-color-grey-light pad-b-10 margin-b-10">
	<div class="text-l">
		<div class="ui form">
			<div class="field">
				<div id="btn-page-editor-view-edit-back" class="ui icon button labeled">
					<i class="reply icon"></i>
					Voltar
				</div>
				<div id="btn-page-editor-view-edit-add" class="ui icon button green labeled">
					<i class="plus icon"></i>
					Adicionar view
				</div>
			</div>
		</div>
	</div>
</div>
<div id="dv-page-editor-view-edit">
	<div id="dv-page-editor-view-edit-list"></div>
	<div id="dv-page-editor-view-edit-form" data-id="0">
		<div class="pad-30">
			<p class="font-size-5 bold">Editar view</p>
			<div class="form ui">
				<div class="field">
					<label>Título</label>
					<input id="cp-page-editor-view-edit-titulo" type="text" name="">
				</div>
				<div class="field">
					<label>Descrição</label>
					<textarea id="cp-page-editor-view-edit-description"></textarea>
				</div>
				<div class="field">
					<label>Código HTML</label>
					<textarea id="cp-page-editor-view-edit-cod"></textarea>
				</div>
				<div class="pad-b-5">
					<label class="bold">Imagem (Formato PNG)</label>
				</div>
				<div style="display: table; width: 100%; margin-bottom: 20px;">
					<div style="width: 220px; float: left">
						<div class="aspect-square">
							<div id="dv-page-editor-view-edit-upload-img-preview" class="bg-grey-light shadow"></div>
						</div>
					</div>
					<div style="float: left">
						<div class="pad-20">
							<input id="cp-page-editor-view-edit-img" type="hidden" name="">
							<div id="dv-page-editor-view-edit-upload-img"></div>
						</div>
					</div>
					<!-- <input type="file" name=""> -->
				</div>
				<div class="pad-b-5">
					<label class="bold">Campos editáveis</label>
				</div>
				<div style="display: table; width: 100%; margin-bottom: 20px;">
					<table class="ui table">
						<thead>
							<tr>
								<th>Código</th>
								<th>Rótulo</th>
								<th>Tipo</th>
								<th>Ordem</th>
								<th></th>
							</tr>
							<tr>
								<th><input type="text" id="cp-page-editor-view-edit-field-cod"></th>
								<th><input type="text" id="cp-page-editor-view-edit-field-label"></th>
								<th>
									<select id="cp-page-editor-view-edit-field-type">
										<option value="-1">-- Selecione --</option>
										<option value="color">Cor</option>
										<option value="hiperlink">Hiperlink (url)</option>
										<option value="img">Imagem</option>
										<option value="number">Número</option>
										<option value="text">Texto</option>
										<option value="longtext">Texto Longo</option>
									</select>
								</th>
								<th><input type="number" id="cp-page-editor-view-edit-field-order"></th>
								<th>
									<div id="btn-page-editor-view-edit-field-add" class="ui icon button small orange">
									  <i class="plus icon"></i>
									</div>
								</th>
							</tr>
						</head>
						<tbody id="dv-page-editor-view-edit-field-list"></tbody>
					</table>
				</div>
				<div class="pad-20 bg-grey-light text-r">
					<div id="btn-page-editor-view-edit-save" class="ui labeled icon button green">
						<i class="save icon"></i>
						Salvar
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
#dv-page-editor-view-edit{
	position: absolute;
	top: 60px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	display: block;
	}
#dv-page-editor-view-edit-list{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	width: 420px;
	display: block;
	padding: 10px;
	overflow: auto;
	border: solid 1px #CCC;
	background-color: #FFF;
	}
#dv-page-editor-view-edit-form{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 430px;
	right: 0px;
	display: block;
	overflow: auto;
	border: solid 1px #CCC;
	background-color: #FFF;
	}
.dv-page-editor-view-edit-list-item{
	display: table;
	width: 100%;
	background-color: #f3f3f3;
	border: solid 1px #CCC;
	padding: 10px;
	margin-bottom: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	cursor: pointer;
	}
.dv-page-editor-view-edit-list-item:hover{
	background-color: #FFFFFF;
	border: solid 1px #666;
	}
.dv-page-editor-view-edit-list-item > img{
	width: 120px;
	float: left;
	margin-right: 10px;
	border: solid 1px #EEE;
	}
.dv-page-editor-view-edit-list-item > p{
	margin: 0px;
	}
.dv-page-editor-view-edit-list-item > p:nth-child(2){
	font-weight: bold;
	color: #F60;
	}
.dv-page-editor-view-edit-list-item > p:nth-child(3){
	font-size: 12px;
	color: #666;
	}
</style>