<div id="page-editor-add-content">
	<div id="icon-page-editor-add-content-close" class="pad-10 bg-white rounded shadow">
		<div><i class="icon close red circular"></i></div>
	</div>
	<div id="page-editor-add-content-stage">
		<p class="font-size-6 bold">Adicionar Conte&uacute;do</p>
		<p>Selecione um bloco de conte&uacute;do para adicion&aacute;-lo &agrave; sua p&aacute;gina.</p>
		<div id="page-editor-add-content-stage-list" class="grid"></div>
	</div>
</div>