<!-- GERENCIAMENTO DE MÍDIAS !-->
<div id="dv-page-editor-uploads" class="hide" data-view_field="" data-view_type="">
    <div class="pos-full opacity-80 bg-black"></div>
    <div id="dv-page-editor-uploads-stage" class="pad-10 bg-white shadow animated slideInUp rounded">
        <div class="pad-10">
            <p class="bold black font-size-5"><i class="icon file"></i> Upload de mídias</p>
            <p class="grey font-size-3">Envie arquivos de imagens em formato JPEG, PNG ou BMP e vídeos em formato MP4</p>
        </div>
        <div class="pad-10">
            <div id="dv-page-editor-upload"></div>
        </div>
        <div id="dv-page-editor-uploads-list">
            <div id="dv-page-editor-uploads-list-stage" class="grid"></div>
        </div>
    </div>
    <div class="pos-t-r">
        <div class="pad-10">
            <div id="btn-page-editor-uploads-close" class="pad-5 bg-white shadow rounded animated fadeIn delay-1" style="cursor: pointer">
                <i class="icon close"></i>
            </div>
        </div>
    </div>
</div>