<div class="border-b-3 border-color-grey-light pad-b-10 margin-b-10">
	<div class="grid">
		<div class="grid-5 text-l">
			<div class="ui form">
				<div class="field">
					<label class="white">.</label>
					<div id="btn-page-editor-add" class="ui icon button labeled green">
						<i class="plus icon"></i>
						Adicionar página
					</div>
				</div>
			</div>
		</div>
		<div class="grid-7">
			<div class="ui form right">
				<div class="three fields">
					<div class="field">
						<label>Cliente</label>
						<select id="cp-page-editor-filter-client" class="margin-r-5"></select>
					</div>
					<div class="field">
						<label>Tipo de Publicação</label>
						<select id="cp-page-editor-filter-type-page" class="margin-r-5"></select>
					</div>
					<div class="field">
						<label>Buscar página</label>
						<div class="ui icon input">
						  <input id="cp-page-editor-search" type="text" placeholder="Buscar...">
						  <i id="icon-page-editor-search" class="circular search link icon"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="margin-b-40">

	<div id="dv-page-editor-list-blank" class="pad-40 hide">
		<div class="ui icon message">
		  <i class="inbox icon"></i>
		  <div class="content">
		    <div class="header">
		      Sem conteúdo
		    </div>
		    <p>Não foram encontrados registros em sua busca.</p>
		  </div>
		</div>
	</div>

	<table id="tb-page-editor-list" class="ui sortable table small celled">
		<thead>
			<tr>
				<th class="bg-color white"></th>
				<th class="bg-color white">id</th>
				<th class="bg-color white">Cliente</th>
				<th class="bg-color white">Título da página</th>
				<th class="bg-color white">Tipo</th>
				<th class="bg-color white">Última Alteração</th>
				<th class="bg-color white">Duplicar</th>
				<th class="bg-color white">Editar</th>
			</tr>
		</thead>
		<tbody id="tb-page-editor-list-stage"></tbody>
	</table>
</div>
<div class="ui modal" id="page-editor-list-duplicate-modal" data-id="">
	<i class="close icon"></i>
	<div class="header">
		<i class="icon copy"></i> Duplicar item
	</div>
	<div class="content">
		<div class="description">Tem certeza de que deseja duplicar este item agora?</div>
	</div>
	<div class="actions">
		<div class="ui button" id="btn-page-editor-list-duplicate-modal-cancel">Cancelar</div>
		<div class="ui button green" id="btn-page-editor-list-duplicate-modal-confirm">Confirmar</div>
	</div>
</div>