<div class="view-editor-item">
	<center>
		<table cellpadding="0" cellspacing="0" style="width: 100%; margin: 0; padding: 0">
			<tr>
				<td style="width: 50%" valign="top">
					<a href="{{HIPERLINK-1}}" style="border: 0;">
						<img src="{{IMAGEM-1}}" style="width: 100%;">
					</a>
				</td>
				<td style="width: 50%" valign="top">
					<a href="{{HIPERLINK-2}}" style="border: 0;">
						<img src="{{IMAGEM-2}}" style="width: 100%;">
					</a>
				</td>
			</tr>
		</table>
	</center>
</div>