<div class="view-editor-item">
	<center>
		<table cellpadding="0" cellspacing="0" style="width: 600px; margin: 0; padding: 0">
			<tr>
				<td style="width: 33.333%;background-color:{{COLOR-1}}; padding: {{PAD-1}}px" valign="top" bg-color="{{COLOR-1}}">
					{{TEXTO-1}}
				</td>
				<td style="width: 33.333%;background-color:{{COLOR-2}}; padding: {{PAD-2}}px" valign="top" bg-color="{{COLOR-2}}">
					{{TEXTO-2}}
				</td>
				<td style="width: 33.333%;background-color:{{COLOR-3}}; padding: {{PAD-3}}px" valign="top" bg-color="{{COLOR-3}}">
					{{TEXTO-3}}
				</td>
			</tr>
		</table>
	</center>
</div>