<div class="view-editor-item">
	<center>
		<table cellpadding="0" cellspacing="0" style="width: 100%; margin: 0; padding: 0">
			<tr>
				<td>
					<a href="{{HIPERLINK}}" style="border: 0;">
						<img src="{{IMAGEM}}" style="width: 100%;">
					</a>
				</td>
			</tr>
		</table>
	</center>
</div>