#message{
	position: fixed;
	z-index: 999;
	width: 300px;
	}
#message.b-l{
	bottom: 0px;
	left: 0px;
	top: auto;
	right: auto;
	}
#message.b-r{
	bottom: 0px;
	right: 0px;
	top: auto;
	left: auto;
	}
#message.b-c{
	bottom: 0px;
	left: 50%;
	margin-left: -150px;
	text-align: center;
	}
#message.t-r{
	top: 0px;
	right: 0px;
	bottom: auto;
	left: auto;
	}
#message.t-l{
	top: 0px;
	left: 0px;
	bottom: auto;
	right: auto;
	}
#message.t-c{
	top: 0px;
	left: 50%;
	margin-left: -150px;
	text-align: center;
	}

#message-stage{
	padding: 5px;
	}
#message-stage > div{
	display: block;
	}
#message-stage > div > div{
	display: inline-table;
	padding: 10px;
	background-color: #FFF;
	margin-bottom: 10px;
	}