#dv-page-editor{
	position: fixed;
	top: 40px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: hidden;
	}
#dv-page-editor-main{
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	}
#dv-page-editor-main-title{
	position: absolute;
	top: 10px;
	left: 10px;
	height: 40px;
	width: 300px;
	}
#dv-page-editor-main-config{
	position: absolute;
	top: 10px;
	right: 10px;
	height: 40px;
	width: 140px;
	text-align: right;
	}
#dv-page-editor-edit-download-modal{
	position: absolute;
	width: 600px;
	top: 45px;
	right: 45px;
	z-index: 18;
}
#dv-page-editor-overlay{
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 19;
	background-color: rgba(0,0,0,0.7);
	display: none;
	}
#adm-pages-stage{
	position: absolute;
	top: 55px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	}
#dv-page-editor-uploads,
#dv-page-editor-content-form{
	position: fixed;
	top: 40px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 18;
	}
#dv-page-editor-content-form-background{
	background-color: rgba(0,0,0,0.4);
	}
#dv-page-editor-content-form-stage{
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	z-index: 18;
	background-color: #FFF;
	overflow: auto;
	}
#dv-page-editor-edit-title{
	position: absolute;
	left: 90px;
	width: 400px;
	top: 0px;
	height: 50px;
	z-index: 3;
	}
#dv-page-editor-edit-menu{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	height: 50px;
	}
#dv-page-editor-edit-view-list-block{
	position: absolute;
	display: block;
	top: 50px;
	right: 0px;
	bottom: 0px;
	left: 90px;
	overflow: auto;
	border: solid 1px #EEE;
	background-color: #CCCCCC;
	}
#dv-page-editor-edit-view-list{
	position: relative;
	display: block;
	width: 100%;
	margin-left: 0%;
	padding-bottom: 60px;
	}
#btn-page-editor-edit-add-content{
	position: fixed;
	left: 10px;
	bottom: 10px;
	cursor: pointer;
	}
#page-editor-add-content{
	position: fixed;
	top: 40px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	}
#icon-page-editor-add-content-close{
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 21;
	cursor: pointer;
	}
.page-editor-add-content-item{
	border: solid 2px transparent;
	}
.page-editor-add-content-item:hover{
	cursor: pointer;
	border: solid 2px #000;
	}
.page-editor-add-content-item > *{
	pointer-events: none;
	}

#page-editor-add-content-stage{
	display: block;
	position: absolute;
	left: 40px;
	right: 40px;
	top: 40px;
	bottom: 40px;
	background-color: #FFF;
	padding: 30px;
	overflow: auto;
	}
#dv-page-editor-edit-cod-html-stage{
	position: fixed;
	top: 40px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	z-index: 10;
	background-color: rgba(0,0,0,0.6);
	}
#dv-page-editor-edit-cod-html-stage > div{
	position: absolute;
	left: 50%;
	top: 30px;
	margin-left: -400px;
	width: 800px;
	background-color: #FFF;
	}
#dv-page-editor-edit-cod-html-stage-btn-close{
	position: absolute;
	top: -20px;
	right: -20px;
	}
#cp-page-editor-content-to-save{
	width: 100%;
	min-height: 300px;
	font-size: 12px;
	line-height: 120%;
	padding: 20px;
	}
#dv-view-editor-hover{
	position: absolute;
	top: 10px;
	left: 50px;
	width: 10px;
	height: 10px;
	transition: 0.2s;
	z-index: 6;
	opacity: 0;
	cursor: pointer;
	}
#btn-view-content-position-up,
#btn-view-content-position-down,
#btn-view-content-excluir,
#btn-view-content-editar{
	position: absolute;
	top: 15px;
	}
#dv-view-editor-hover-stage{
	border: solid 3px rgba(0,0,0,0.7);
	background-color: rgba(0,0,0,0.1);
	}

#btn-view-content-position-up{
	left: -35px;
	}
#btn-view-content-position-down{
	left: -65px;
	}
#btn-view-content-excluir{
	right: -65px;
	}
#btn-view-content-editar{
	right: -35px;
	}


.cp_midias_url{
	font-size: 11px;
	width: 100%;
	padding: 3px;
	border: solid 1px #CCC;
}
#dv-page-editor-uploads-stage{
	position: absolute;
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	}
#dv-page-editor-uploads-content{
	position: absolute;
	top: 140px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	border: solid 1px #CCC;
	overflow: auto;
	}

#page-editor-preview{
	position: fixed;
	top: 40px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	}
#icon-page-editor-preview-close{
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 21;
	cursor: pointer;
	}
.page-editor-preview-item{
	border: solid 2px transparent;
	}
.page-editor-preview-item:hover{
	cursor: pointer;
	border: solid 2px #000;
	}
#page-editor-preview-stage{
	display: block;
	position: absolute;
	left: 40px;
	right: 40px;
	top: 40px;
	bottom: 40px;
	background-color: #FFF;
	padding: 30px;
	overflow: auto;
	}

@media (max-width: 480px) {
	#dv-page-editor-content-form-stage{
			width: 300px;
		}
	}

@media (min-width: 481px) and (max-width: 840px) {
	#dv-page-editor-content-form-stage{
			width: 420px;
		}
	}

@media (min-width: 841px){
	#dv-page-editor-content-form-stage{
			width: 800px;
		}
	}