<div class="view-editor-item">
	<center>
		<table cellpadding="0" cellspacing="0" style="width: 600px; margin: 0; padding: 0">
			<tr>
				<td style="width: 40%;background-color:{{COLOR-1}}; padding: {{PAD-1}}px" valign="top" bg-color="{{COLOR-1}}">
					<img src="{{IMG}}" style="width: 100%">
				</td>
				<td style="width: 60%;background-color:{{COLOR-2}}; padding: {{PAD-2}}px" valign="top" bg-color="{{COLOR-2}}">
					{{TEXTO}}
				</td>
			</tr>
		</table>
	</center>
</div>

