.content-center{
	position: relative;
	display: table;
	left: 50%;
	width: 1400px;
	margin-left: -700px;
	/*transition: 1s;*/
	}
#dv-whatsapp{
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 5;
	background-color: #16A98A;
	padding: 10px;
	cursor: pointer;
	transition: 500ms;
	}
#dv-whatsapp:hover{
	bottom: 30px;
	background-color: #06694A;
	}
#dv-whatsapp > i{
	font-size: 30px;
	line-height: 100%;
	margin: 0px;
	}
.swiper-container {
	width: 100%;
	height: 100%;
	}
.logo{
	position: relative;
	display: block;
	width: 500px;
	height: 120px;
	}
.logo > img{
	position: absolute;
	left: 20px;
	top: 20px;
	height: 80px;	
	}
.logo > span{
	position: absolute;
	font-size: 38px;
	line-height: 100%;
	letter-spacing: -1px;
	left: 120px;
	top: 25px;
	color: #FFF;
	text-shadow: 1px 1px 5px rgba(0,0,0,0.60);
	}
#phone{
	position: absolute;
	right: 200px;
	top: 30px;
	}
.sidebar-icon{
	display: none;
}
.sidebar-menu{
	padding: 20px;
	}
.sidebar-menu > a{
	font-size: 18px;
	font-weight: bold;
	display: block;
	}
.menu_institucional{
	background-color: #F6F6F6;
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 0px;
	}
.menu_institucional > a{
	display: inline-table;
	letter-spacing: 3px;
	font-size: 12px;
	/*text-transform: uppercase;*/
	transition: 500ms;
	padding: 20px;
	color: #666;
	}
.menu_institucional > a:hover{
	background-color: #000;
	color: #FFF;
	}
.menu > a{
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 4px;
	display: inline-table;
	text-transform: uppercase;
	transition: 500ms;
	padding: 25px;
	color: #FFF;
	}
.menu > a:hover{
	background-color: #000;
	color: #FFF;
	}
#foto{
	position: absolute;
	right: 10px;
	bottom: 0px;
	z-index: 2;
	}
#foto > img{
	height: 250px;
	}
#head-filtro{
	position: relative;
	z-index: 2;
	margin-top: 1px;
	}
.filtro-item > div{
	border: solid 1px #CCC;
	margin-right: 5px;
	background-color: #F6F6F6;
	cursor: pointer;
	transition: 0.4s;
	}
.filtro-item > div:hover{
	background-color: #FFF;
	-moz-box-shadow: 1px 3px 3px rgba(0,0,0,0.2); 
	-webkit-box-shadow: 1px 3px 3px rgba(0,0,0,0.2); 
	box-shadow: 1px 3px 3px rgba(0,0,0,0.2);
	}
.filtro-item > div.active{
	border: solid 2px #0CF;
	color: #09C;
	padding: 14px;
	}
#btn_buscar{
	cursor: pointer;
	border: solid 2px #FFF;
	transition: 0.4s;
	}
#btn_buscar:hover{
	border: solid 2px #000;
	}
#main{
	display: table;
	width: 100%;
	margin-top: 0px;
	position: relative;
	background-color: #FFF !important;
	}
#content{
	margin-top:10px;
	}
.menu-sidebar{
	margin: 0px;
	padding: 0px;
	}
.menu-sidebar > li{
	margin: 0px;
	padding: 5px;
	list-style: none;
	}

@media (max-width: 1600px) {
	.content-center{
		width: 1100px;
		margin-left: -550px;
		}
	.logo{
		width: 400px;
		}
	.menu > a{
		letter-spacing: 2px;
		padding: 15px;
		}
}
@media (max-width: 1200px) {
	.content-center{
		width: 980px;
		margin-left: -490px;
		}
	.logo{
		width: 300px;
		height: 100px;
		}
	.logo > img{
		height: 60px;	
		}
	.menu > a{
		letter-spacing: 1px;
		padding: 15px;
		}
}
@media (max-width: 1024px) {
	.content-center{
		width: 880px;
		margin-left: -440px;
		}
	.logo{
		width: 220px;
		height: 90px;
		}
	.logo > img{
		height: 50px;	
		}
	.menu_institucional > a{
		letter-spacing: 1px;
		padding: 15px;
		}
	.menu > a{
		letter-spacing: 0px;
		padding: 13px;
		}

}
@media (max-width: 900px) {
	.content-center{
		position: relative;
		display: table;
		left: 0;
		width: 100%;
		margin-left: 0;
		/*transition: 1s;*/
		}
	.head{
		height: 60px;
		position: fixed;
		top: 0px;
		left: 0px;
		right: 0px;
		z-index: 10;
		background-color: #FFF;
		-moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.3); 
		-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.3); 
		box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
		}
	.logo{
		width: 220px;
		height: 70px;
		}
	.menu_institucional,
	.menu {
		display: none;
		}
	.logo{
		top: 0px;
		left: 60px;
		height: 60px;
		}
	.logo > img{
		left: 10px;
		top: 8px;
		height: 42px;	
		}
	.sidebar-icon{
		position: fixed;
		top: 0px;
		left: 0px;
		width: 60px;
		height: 60px;
		display: block;
		}
	#content{
		padding-top: 60px;
		}

}
@media (max-width: 720px) {
	.head{
		height: 50px;
		}
	.sidebar-icon{
		width: 50px;
		height: 50px;
		}
	.logo{
		left: 50px;
		height: 50px;
		}
	.logo > img{
		left: 10px;
		top: 7px;
		height: 36px;	
		}
	#content{
		padding-top: 50px;
		}
}
@media (max-width: 600px) {

}
@media (max-width: 480px) {
	#dv-whatsapp{
		right: 10px;
		bottom: 10px;
		padding: 5px;
		}
	#dv-whatsapp:hover{
		bottom: 20px;
		}
	#dv-whatsapp > i{
		font-size: 20px;
		}
}
@media (max-width: 320px) {

}