#template-stage{
	position: relative;
	display: table;
	width: 100%;
	left: 0px;
	top: 0px;
	background-color: #333;
	border: solid 1px #0F0;
	}
#template-stage > div{
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	padding-bottom: 56.25%;
	border:solid 1px #F60;
	}
#template_iframe{
	width: 100%;
	height: 100%;
	background-color: #EEE;
	border: solid 1px #00F;
	}
#template_loading_stage{
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: #CCC;
	}