/**
 * CSS de estilo e interface
 * @version Beta v0.4
 * @date 15.Mai.2017
 * @author Márcio Camargo.
 * @email marcio@seepix.com.br

 * ----------------------------------------------------------
 *	LIMITES DE DISPOSITIVOS:
 *	DESKTOP: Acima de 840px;
 *	TABLE: Entre 480px e 840px;
 *	PHONE: Abaixo de 480px;
  
 * ----------------------------------------------------------
 * ABBREVIATIONS
 * BG 		- Backgrounds
 * POS 		- Position
 * PAD 		- Padding
 
 * ----------------------------------------------------------
 * CONTENT SIZES
 *	mini
 *	small
 *	medium
 *	big
 *	massive

 * ----------------------------------------------------------
 * SEÇÕES
 * - Typography
 *    |- family
 *    |- text align
 *    |- font size
 * - Colors and Backgrounds
 * - Effects
 * - Align
 * - Position
 * - Padding
 * - Margin
 */

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');


.font{ font-family: 'Raleway', sans-serif !important;	}

*{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
	}

/* ESTILOS GLOBAIS */
.titulo-1,
.titulo-2,
.titulo-3,
.texto{
	color: #58585A;
	}
.rotulo{
	color: #FF6600;
	}
.titulo-1,
.titulo-2,
.titulo-3{
	font-weight: 700;
	line-height: 120%;
	margin-bottom: 30px;
	}

.titulo-1{
	font-size: 260%; letter-spacing: -1px;
	}
.titulo-2{
	font-size: 220%; letter-spacing: -1px;
	}
.titulo-3{
	font-size: 180%;
	}
.texto{
	font-size: 120%;
	line-height: 140%;
	}
.rotulo{
	font-weight: bold;
	margin-bottom: 20px;
	font-size: 150%;
	}
.content-base{
	padding: 0px 95px;
	}

.texto-2-colunas{
	column-count: 2;
	column-gap: 30px;
	}

@media (max-width: 1600px) {

	}
@media (max-width: 1200px) {
	.content-base{ padding: 0px 65px; }
	}
@media (max-width: 1024px) {

	}
@media (max-width: 840px) {
	.titulo-1{ font-size: 200%; margin-bottom: 20px; }
	.titulo-2{ font-size: 180%; margin-bottom: 20px; }
	.titulo-3{ font-size: 140%; margin-bottom: 20px; }
	.texto{	font-size: 100%; }
	.rotulo{ font-size: 120%; margin-bottom: 15px; }
	.content-base{	padding: 0px 60px; }
	}
@media (max-width: 720px) {
	.content-base{	padding: 0px 50px; }
	}
@media (max-width: 600px) {
	.content-base{	padding: 0px 40px; }
	}
@media (max-width: 480px) {
	.titulo-1{ font-size: 160%; letter-spacing: 0px; }
	.titulo-2{ font-size: 140%; letter-spacing: 0px; }
	.titulo-3{ font-size: 120%; }
	.texto{	font-size: 90%; }
	.texto-2-colunas{ column-count: 1; }
	.content-base{	padding: 0px 25px; }
	}
@media (max-width: 320px) {
	.content-base{	padding: 0px 15px; }
	}


/* ---------------------------------
BLOCOS
--------------------------------- */

.hide, .hiden{
	display: none !important;
	}
.block{
	display: block !important;
	width: 100%;
	}

/* ---------------------------------
COLORS MASTER
---------------------------------- */
/* COR */
.color{				color: #FF6600 !important;  } 
.bg-color{			background-color: #FF6600 !important;  }

a.color:hover,
.color-dark{		color: #EE5500 !important;	} 
.bg-color-dark{		background-color: #EE5500 !important;  } 

.color-light{		color: #FF7711 !important;	} 
.bg-color-light{	background-color: #FF7711 !important;  } 

/* COR 1*/
.color-1{			color: #D1D1D1 !important;  } 
.bg-color-1{		background-color: #D1D1D1 !important;  }

a.color-1:hover,
.color-1-dark{		color: #C1C1C1 !important;	} 
.bg-color-1-dark{	background-color: #C1C1C1 !important;  } 

.color-1-light{		color: #E1E1E1 !important;	} 
.bg-color-1-light{	background-color: #E1E1E1 !important;  } 

/* COR 2*/
.color-2{			color: #B61F6A !important;  } 
.bg-color-2{		background-color: #B61F6A !important;  }

a.color-2:hover,
.color-2-dark{		color: #A20B56 !important;	} 
.bg-color-2-dark{	background-color: #A20B56 !important;  } 

.color-2-light{		color: #CA337E !important;	} 
.bg-color-2-light{	background-color: #CA337E !important;  } 

/* ---------------------------------
TYPOGRAPHY
--------------------------------- */
.font-upper{ 	text-transform: uppercase !important; }
.font-lower{ 	text-transform: lowercase !important; }
.bold{ 			font-weight: 700 !important; }
.bolder{ 		font-weight: 900 !important; }
.light{ 		font-weight: 100 !important; }
.italic{ 		font-style: italic !important; }
.link{ 			text-decoration: none !important;; }
.link:hover{ 	text-decoration: underline !important;; }
.ellipsis{
	display: block;
	white-space: nowrap;
	width: 100%;                   
	overflow: hidden; 
	text-overflow: clip;
	text-overflow: ellipsis;
	text-overflow: "…";
	}
.noselect{
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
	}

.text-paragraph-mini{ 		line-height: 90% !important; }
.text-paragraph-small{ 		line-height: 95% !important; }
.text-paragraph-medium,
.text-paragraph-normal{ 	line-height: 120% !important; }
.text-paragraph-big{ 		line-height: 140% !important; }
.text-paragraph-massive{ 	line-height: 200% !important; }

/* text align */
.text-l{ text-align: left;}
.text-c{ text-align: center;}
.text-r{ text-align: right;}

@media (max-width: 480px) {
	.phone-text-l{ text-align: left;}
	.phone-text-c{ text-align: center;}
	.phone-text-r{ text-align: right;}
	}

@media (min-width: 481px) and (max-width: 840px) {
	.tablet-text-l{ text-align: left;}
	.tablet-text-c{ text-align: center;}
	.tablet-text-r{ text-align: right;}
	}

@media (min-width: 841px) {
	.desktop-text-l{ text-align: left;}
	.desktop-text-c{ text-align: center;}
	.desktop-text-r{ text-align: right;}
	}

/* font size */
.font-size-1,
.font-size-2,
.font-size-3,
.font-size-4,
.font-size-5,
.font-size-6,
.font-size-7,
.font-size-8,
.font-size-9,
.font-size-10{
	margin: 0px;
	}

.font-size-1{ 				font-size: 65%; }
.font-size-2{ 				font-size: 80%; }
.font-size-3{ 				font-size: 100%; }
.font-size-4{ 				font-size: 120%; }
.font-size-5{ 				font-size: 150%; }
.font-size-6{ 				font-size: 200%; letter-spacing: -1px;	}
.font-size-7{ 				font-size: 260%; letter-spacing: -1px;	}
.font-size-8{ 				font-size: 340%; letter-spacing: -1px; 	}
.font-size-9{ 				font-size: 400%; letter-spacing: -2px; 	}
.font-size-10{ 				font-size: 500%; letter-spacing: -3px; 	}

@media (max-width: 480px) {
	.phone-font-size-1{ 				font-size: 65%; }
	.phone-font-size-2{ 				font-size: 80%; }
	.phone-font-size-3{ 				font-size: 100%; }
	.phone-font-size-4{ 				font-size: 120%; }
	.phone-font-size-5{ 				font-size: 150%; }
	.phone-font-size-6{ 				font-size: 200%; letter-spacing: -1px;	}
	.phone-font-size-7{ 				font-size: 260%; letter-spacing: -1px;	}
	.phone-font-size-8{ 				font-size: 340%; letter-spacing: -1px; 	}
	.phone-font-size-9{ 				font-size: 400%; letter-spacing: -2px; 	}
	.phone-font-size-10{ 				font-size: 500%; letter-spacing: -3px; 	}
	}

@media (min-width: 481px) and (max-width: 840px) {
	.tablet-font-size-1{ 				font-size: 65%; }
	.tablet-font-size-2{ 				font-size: 80%; }
	.tablet-font-size-3{ 				font-size: 100%; }
	.tablet-font-size-4{ 				font-size: 120%; }
	.tablet-font-size-5{ 				font-size: 150%; }
	.tablet-font-size-6{ 				font-size: 200%; letter-spacing: -1px;	}
	.tablet-font-size-7{ 				font-size: 260%; letter-spacing: -1px;	}
	.tablet-font-size-8{ 				font-size: 340%; letter-spacing: -1px; 	}
	.tablet-font-size-9{ 				font-size: 400%; letter-spacing: -2px; 	}
	.tablet-font-size-10{ 				font-size: 500%; letter-spacing: -3px; 	}
	}

@media (min-width: 841px) {
	.desktop-font-size-1{ 				font-size: 65%; }
	.desktop-font-size-2{ 				font-size: 80%; }
	.desktop-font-size-3{ 				font-size: 100%; }
	.desktop-font-size-4{ 				font-size: 120%; }
	.desktop-font-size-5{ 				font-size: 150%; }
	.desktop-font-size-6{ 				font-size: 200%; letter-spacing: -1px;	}
	.desktop-font-size-7{ 				font-size: 260%; letter-spacing: -1px;	}
	.desktop-font-size-8{ 				font-size: 340%; letter-spacing: -1px; 	}
	.desktop-font-size-9{ 				font-size: 400%; letter-spacing: -2px; 	}
	.desktop-font-size-10{ 				font-size: 500%; letter-spacing: -3px; 	}
	}

/* ---------------------------------
COLORS AND BACKGROUNDS
--------------------------------- */
/* document colors */
.bg-white{ 			background-color: #FFFFFF !important;  } 
.bg-black{			background-color: #111111 !important;  } 

a.bg-white:hover{ 	background-color: #EFEFEF !important;  } 
a.bg-black:hover{	background-color: #000000 !important;  } 

.white{ 			color: #FFFFFF !important;  } 
.black{				color: #222222 !important;  } 

a.white:hover{ 		color: #EFEFEF !important;  } 
a.black:hover{		color: #000000 !important;  }

/* color pattern */
/* ---------------------------------
catalog -> https://www.google.com/design/spec/style/color.html#color-color-palette
--------------------------------- */
.red{ 					color: #F44336; }
.red-light{ 			color: #EF9A9A; }
.red-dark{ 				color: #B71C1C; }

.pink{					color: #E91E63; }
.pink-light{			color: #F48FB1; }
.pink-dark{				color: #880E4F; }

.purple{				color: #9C27B0; }
.purple-light{			color: #9C27B0; }
.purple-dark{			color: #4A148C; }

.deep-purple{			color: #673AB7; }
.deep-purple-light{		color: #B39DDB; }
.deep-purple-dark{		color: #311B92; }

.indigo{				color: #3F51B5; }
.indigo-light{			color: #9FA8DA; }
.indigo-dark{			color: #1A237E; }

.blue{					color: #2196F3; }
.blue-light{			color: #90CAF9; }
.blue-dark{				color: #0D47A1; }

.light-blue{			color: #03A9F4; }
.light-blue-light{		color: #81D4FA; }
.light-blue-dark{		color: #01579B; }

.cyan{					color: #00BCD4; }
.cyan-light{			color: #80DEEA; }
.cyan-dark{				color: #006064; }

.teal{					color: #009688; }
.teal-light{			color: #80CBC4; }
.teal-dark{				color: #004D40; }

.green{					color: #4CAF50; }
.green-light{			color: #A5D6A7; }
.green-dark{			color: #1B5E20; }

.light-green{			color: #8BC34A; }
.light-green-light{		color: #C5E1A5; }
.light-green-dark{		color: #33691E; }

.lime{					color: #CDDC39; }
.lime-light{			color: #E6EE9C; }
.lime-dark{				color: #827717; }

.yellow{				color: #FFEB3B; }
.yellow-light{			color: #FFF59D; }
.yellow-dark{			color: #A38F17; }

.amber{					color: #FFC107; }
.amber-light{			color: #FFE082; }
.amber-dark{			color: #FF6F00; }

.orange{				color: #FF9800; }
.orange-light{			color: #FFCC80; }
.orange-dark{			color: #E65100; }

.deep_orange{			color: #FF5722; }
.deep_orange-light{		color: #FFAB91; }
.deep_orange-dark{		color: #BF360C; }

.brown{					color: #795548; }
.brown-light{			color: #BCAAA4; }
.brown-dark{			color: #3E2723; }

.grey{					color: #9A9A9C; }
.grey-light{			color: #EEEEEE; }
.grey-ultralight{		color: #F3F3F3; }
.grey-dark{				color: #3F3F3F; }

.blue-grey{				color: #607D8B; }
.blue-grey-light{		color: #B0BEC5; }
.blue-grey-dark{		color: #263238; }


.bg-red{ 				background-color: #F44336 !important; }
.bg-red-light{ 			background-color: #EF9A9A !important; }
.bg-red-ultralight{ 	background-color: #FFBBBB !important; }
.bg-red-dark{ 			background-color: #B71C1C !important; }

.bg-pink{				background-color: #E91E63 !important; }
.bg-pink-light{			background-color: #F48FB1 !important; }
.bg-pink-ultralight{	background-color: #FFAFD1 !important; }
.bg-pink-dark{			background-color: #880E4F !important; }

.bg-purple{				background-color: #9C27B0 !important; }
.bg-purple-light{		background-color: #DC67F0 !important; }
.bg-purple-ultralight{	background-color: #FC87FF !important; }
.bg-purple-dark{		background-color: #4A148C !important; }

.bg-deep-purple{		background-color: #673AB7 !important; }
.bg-deep-purple-light{	background-color: #B39DDB !important; }
.bg-deep-purple-ultralight{	background-color: #D3BDFB !important; }
.bg-deep-purple-dark{	background-color: #311B92 !important; }

.bg-indigo{				background-color: #3F51B5 !important; }
.bg-indigo-light{		background-color: #9FA8DA !important; }
.bg-indigo-ultralight{	background-color: #BFC8FF !important; }
.bg-indigo-dark{		background-color: #1A237E !important; }

.bg-blue{				background-color: #2196F3 !important; }
.bg-blue-light{			background-color: #90CAF9 !important; }
.bg-blue-ultralight{	background-color: #B0EAFF !important; }
.bg-blue-dark{			background-color: #0D47A1 !important; }

.bg-light-blue{			background-color: #03A9F4 !important; }
.bg-light-blue-light{	background-color: #81D4FA !important; }
.bg-light-blue-ultralight{	background-color: #A1F4FF !important; }
.bg-light-blue-dark{	background-color: #01579B !important; }

.bg-cyan{				background-color: #00BCD4 !important; }
.bg-cyan-light{			background-color: #80DEEA !important; }
.bg-cyan-ultralight{	background-color: #A0FEFF !important; }
.bg-cyan-dark{			background-color: #006064 !important; }

.bg-teal{				background-color: #009688 !important; }
.bg-teal-light{			background-color: #80CBC4 !important; }
.bg-teal-ultralight{	background-color: #A0EBE4 !important; }
.bg-teal-dark{			background-color: #004D40 !important; }

.bg-green{				background-color: #4CAF50 !important; }
.bg-green-light{		background-color: #A5D6A7 !important; }
.bg-green-ultralight{	background-color: #C5F6C7 !important; }
.bg-green-dark{			background-color: #1B5E20 !important; }

.bg-light-green{		background-color: #8BC34A !important; }
.bg-light-green-light{	background-color: #C5E1A5 !important; }
.bg-light-green-ultralight{	background-color: #E5FFC5 !important; }
.bg-light-green-dark{	background-color: #33691E !important; }

.bg-lime{				background-color: #CDDC39 !important; }
.bg-lime-light{			background-color: #E6EE9C !important; }
.bg-lime-ultralight{	background-color: #FFFFBC !important; }
.bg-lime-dark{			background-color: #827717 !important; }

.bg-yellow{				background-color: #FFEB3B !important; }
.bg-yellow-light{		background-color: #FFF59D !important; }
.bg-yellow-ultralight{	background-color: #FFFFBD !important; }
.bg-yellow-dark{		background-color: #A38F17 !important; }

.bg-amber{				background-color: #FFC107 !important; }
.bg-amber-light{		background-color: #FFE082 !important; }
.bg-amber-ultralight{	background-color: #FFFFA2 !important; }
.bg-amber-dark{			background-color: #FF6F00 !important; }

.bg-orange{				background-color: #FF9800 !important; }
.bg-orange-light{		background-color: #FFCC80 !important; }
.bg-orange-ultralight{	background-color: #FFEEA0 !important; }
.bg-orange-dark{		background-color: #E65100 !important; }

.bg-deep_orange{		background-color: #FF5722 !important; }
.bg-deep_orange-light{	background-color: #FFAB91 !important; }
.bg-deep_orange-ultralight{	background-color: #FFCBB1 !important; }
.bg-deep_orange-dark{	background-color: #BF360C !important; }

.bg-brown{				background-color: #795548 !important; }
.bg-brown-light{		background-color: #BCAAA4 !important; }
.bg-brown-ultralight{	background-color: #DCCAC4 !important; }
.bg-brown-dark{			background-color: #3E2723 !important; }

.bg-grey{				background-color: #9A9A9C !important; }
.bg-grey-light{			background-color: #EEEEEE !important; }
.bg-grey-ultralight{	background-color: #F3F3F3 !important; }
.bg-grey-dark{			background-color: #3F3F3F !important; }

.bg-blue-grey{			background-color: #607D8B !important; }
.bg-blue-grey-light{	background-color: #B0BEC5 !important; }
.bg-blue-grey-ultralight{	background-color: #D0DEE5 !important; }
.bg-blue-grey-dark{		background-color: #263238 !important; }

.parallax { 
    /* 
    background-image: url("img_parallax.jpg"); 
    height: 500px; 
    */

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	}

.bg-cover{
	background-repeat:no-repeat;
	background-position:center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	}

.bg-cover-gradient{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=rgba(0,0,0,0), endColorstr=rgba(0,0,0,100)); 
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,100))); 
	background: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,100));
	}

.bg-auto{
	background-repeat:no-repeat;
	background-position:center center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	}

.gradient{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#DDDDDD'); 
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#DDDDDD)); 
	background: -moz-linear-gradient(top, #FFFFFF, #DDDDDD);
	}

.opacity-0{
	filter: Alpha(Opacity=1);
	opacity: .01;
	}
.opacity-10{
	filter: Alpha(Opacity=10);
	opacity: .1;
	}
.opacity-20{
	filter: Alpha(Opacity=20);
	opacity: .2;
	}
.opacity-30{
	filter: Alpha(Opacity=30);
	opacity: .3;
	}
.opacity-40{
	filter: Alpha(Opacity=40);
	opacity: .4;
	}
.opacity-50{
	filter: Alpha(Opacity=50);
	opacity: .5;
	}
.opacity-60{
	filter: Alpha(Opacity=60);
	opacity: .6;
	}
.opacity-70{
	filter: Alpha(Opacity=70);
	opacity: .7;
	}
.opacity-80{
	filter: Alpha(Opacity=80);
	opacity: .8;
	}
.opacity-90{
	filter: Alpha(Opacity=90);
	opacity: .9;
	}

/* ---------------------------------
BORDERS
--------------------------------- */
.division > *{
	border-left: solid 1px rgba(255, 255, 255, .5);
	border-right: solid 1px rgba(0, 0, 0, .05);
	}
.division > *:first-child{
	border-left: none;
	}
.division > *:last-child{
	border-right: none;
	}

.division-h{
	height: 2px;
	border-top:solid 1px rgba(0, 0, 0, .05);
	border-bottom:solid 1px rgba(255, 255, 255, .5);
	}

.border-0{ border:solid 0px;}
.border-1{ border:solid 1px;}
.border-2{ border:solid 2px;}
.border-3{ border:solid 3px;}
.border-4{ border:solid 4px;}
.border-5{ border:solid 5px;}

@media (max-width: 480px) {
	.phone-border-0{ border:solid 0px;}
	.phone-border-1{ border:solid 1px;}
	.phone-border-2{ border:solid 2px;}
	.phone-border-3{ border:solid 3px;}
	.phone-border-4{ border:solid 4px;}
	.phone-border-5{ border:solid 5px;}
	}

@media (min-width: 481px) and (max-width: 840px) {
	.tablet-border-0{ border:solid 0px;}
	.tablet-border-1{ border:solid 1px;}
	.tablet-border-2{ border:solid 2px;}
	.tablet-border-3{ border:solid 3px;}
	.tablet-border-4{ border:solid 4px;}
	.tablet-border-5{ border:solid 5px;}
	}

@media (min-width: 840px) {
	.desktop-border-0{ border:solid 0px;}
	.desktop-border-1{ border:solid 1px;}
	.desktop-border-2{ border:solid 2px;}
	.desktop-border-3{ border:solid 3px;}
	.desktop-border-4{ border:solid 4px;}
	.desktop-border-5{ border:solid 5px;}
	}

.border-t-1{ border-top:solid 1px;}
.border-t-2{ border-top:solid 2px;}
.border-t-3{ border-top:solid 3px;}
.border-t-4{ border-top:solid 4px;}
.border-t-5{ border-top:solid 5px;}

.border-r-1{ border-right:solid 1px;}
.border-r-2{ border-right:solid 2px;}
.border-r-3{ border-right:solid 3px;}
.border-r-4{ border-right:solid 4px;}
.border-r-5{ border-right:solid 5px;}

.border-b-1{ border-bottom:solid 1px;}
.border-b-2{ border-bottom:solid 2px;}
.border-b-3{ border-bottom:solid 3px;}
.border-b-4{ border-bottom:solid 4px;}
.border-b-5{ border-bottom:solid 5px;}

.border-l-1{ border-left:solid 1px;}
.border-l-2{ border-left:solid 2px;}
.border-l-3{ border-left:solid 3px;}
.border-l-4{ border-left:solid 4px;}
.border-l-5{ border-left:solid 5px;}

.border-color-white{ 				border-color: #FFFFFF; }
.border-color-black{ 				border-color: #111111; }

.border-color-red{ 					border-color: #F44336; }
.border-color-red-light{ 			border-color: #EF9A9A; }
.border-color-red-dark{ 			border-color: #B71C1C; }

.border-color-pink{					border-color: #E91E63; }
.border-color-pink-light{			border-color: #F48FB1; }
.border-color-pink-dark{			border-color: #880E4F; }

.border-color-purple{				border-color: #9C27B0; }
.border-color-purple-light{			border-color: #9C27B0; }
.border-color-purple-dark{			border-color: #4A148C; }

.border-color-deep-purple{			border-color: #673AB7; }
.border-color-deep-purple-light{	border-color: #B39DDB; }
.border-color-deep-purple-dark{		border-color: #311B92; }

.border-color-indigo{				border-color: #3F51B5; }
.border-color-indigo-light{			border-color: #9FA8DA; }
.border-color-indigo-dark{			border-color: #1A237E; }

.border-color-blue{					border-color: #2196F3; }
.border-color-blue-light{			border-color: #90CAF9; }
.border-color-blue-dark{			border-color: #0D47A1; }

.border-color-light-blue{			border-color: #03A9F4; }
.border-color-light-blue-light{		border-color: #81D4FA; }
.border-color-light-blue-dark{		border-color: #01579B; }

.border-color-cyan{					border-color: #00BCD4; }
.border-color-cyan-light{			border-color: #80DEEA; }
.border-color-cyan-dark{			border-color: #006064; }

.border-color-teal{					border-color: #009688; }
.border-color-teal-light{			border-color: #80CBC4; }
.border-color-teal-dark{			border-color: #004D40; }

.border-color-green{				border-color: #4CAF50; }
.border-color-green-light{			border-color: #A5D6A7; }
.border-color-green-dark{			border-color: #1B5E20; }

.border-color-light-green{			border-color: #8BC34A; }
.border-color-light-green-light{	border-color: #C5E1A5; }
.border-color-light-green-dark{		border-color: #33691E; }

.border-color-lime{					border-color: #CDDC39; }
.border-color-lime-light{			border-color: #E6EE9C; }
.border-color-lime-dark{			border-color: #827717; }

.border-color-yellow{				border-color: #FFEB3B; }
.border-color-yellow-light{			border-color: #FFF59D; }
.border-color-yellow-dark{			border-color: #A38F17; }

.border-color-amber{				border-color: #FFC107; }
.border-color-amber-light{			border-color: #FFE082; }
.border-color-amber-dark{			border-color: #FF6F00; }

.border-color-orange{				border-color: #FF9800; }
.border-color-orange-light{			border-color: #FFCC80; }
.border-color-orange-dark{			border-color: #E65100; }

.border-color-deep_orange{			border-color: #FF5722; }
.border-color-deep_orange-light{	border-color: #FFAB91; }
.border-color-deep_orange-dark{		border-color: #BF360C; }

.border-color-brown{				border-color: #795548; }
.border-color-brown-light{			border-color: #BCAAA4; }
.border-color-brown-dark{			border-color: #3E2723; }

.border-color-grey{					border-color: #9A9A9C; }
.border-color-grey-light{			border-color: #EEEEEE; }
.border-color-grey-dark{			border-color: #3F3F3F; }

.border-color-blue-grey{			border-color: #607D8B; }
.border-color-blue-grey-light{		border-color: #B0BEC5; }
.border-color-blue-grey-dark{		border-color: #263238; }

/* ---------------------------------
EFFECTS
--------------------------------- */

/* shadows */
.shadow{
	-moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.3); 
	-webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.3); 
	box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
	}

.shadow-mini{
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.3); 
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.3); 
	box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	}
.shadow-small{
	-moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.3); 
	-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.3); 
	box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
	}
.shadow-medium{
	-moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.3); 
	-webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.3); 
	box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
	}
.shadow-big{
	-moz-box-shadow: 2px 2px 10px rgba(0,0,0,0.3); 
	-webkit-box-shadow: 2px 2px 10px rgba(0,0,0,0.3); 
	box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
	}
.shadow-big-soft{
	-moz-box-shadow: 2px 2px 10px rgba(0,0,0,0.10); 
	-webkit-box-shadow: 2px 2px 10px rgba(0,0,0,0.10); 
	box-shadow: 2px 2px 10px rgba(0,0,0,0.10);
	}
.shadow-massive{
	-moz-box-shadow: 3px 3px 14px rgba(0,0,0,0.3); 
	-webkit-box-shadow: 3px 3px 14px rgba(0,0,0,0.3); 
	box-shadow: 3px 3px 14px rgba(0,0,0,0.3);
	}

.text-shadow{
    text-shadow: 2px 2px 2px rgba(0,0,0,0.7);
	}

/* rounded */
.rounded{
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;	
	border-radius: 5px;
	}
.rounded-mini{
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
	border-radius: 3px;
	}
.rounded-small{
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px;		
	border-radius: 4px;
	}
.rounded-medium{
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;		
	border-radius: 5px;
	}
.rounded-big{
	-moz-border-radius: 8px; 
	-webkit-border-radius: 8px;		
	border-radius: 8px;
	}
.rounded-massive{
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	}

.circle{
	-moz-border-radius: 9999px; 
	-webkit-border-radius: 9999px;
	border-radius: 9999px;
	}

/* ---------------------------------
ALIGN
--------------------------------- */
.align-l,
.align-c,
.align-r,
.align-j,
.align-m{ display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; }
.align-l{ -webkit-align-items: flex-start; align-items: flex-start; }
.align-c{ -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center; }
.align-r{ -webkit-justify-content: flex-end; justify-content: flex-end; }
.align-j{ -webkit-justify-content: space-between; justify-content: space-between; }
.align-m{ -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center; }
.align-h{ -webkit-flex-direction: row; flex-direction: row;	}
.align-v{ -webkit-flex-direction: column; flex-direction: column; }

@media (max-width: 480px) {
	.phone-align-l,
	.phone-align-c,
	.phone-align-r,
	.phone-align-j,
	.phone-align-m{ display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; }
	.phone-align-l{ -webkit-align-items: flex-start; align-items: flex-start; }
	.phone-align-c{ -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center; }
	.phone-align-r{ -webkit-justify-content: flex-end; justify-content: flex-end; }
	.phone-align-j{ -webkit-justify-content: space-between; justify-content: space-between; }
	.phone-align-m{ -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center; }
	.phone-align-h{ -webkit-flex-direction: row; flex-direction: row; }
	.phone-align-v{ -webkit-flex-direction: column; flex-direction: column; }
	}

@media (min-width: 481px) and (max-width: 840px) {
	.tablet-align-l,
	.tablet-align-c,
	.tablet-align-r,
	.tablet-align-j
	.tablet-align-m{ display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; }
	.tablet-align-l{ -webkit-align-items: flex-start; align-items: flex-start; }
	.tablet-align-c{ -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center; }
	.tablet-align-r{ -webkit-justify-content: flex-end; justify-content: flex-end; }
	.tablet-align-j{ -webkit-justify-content: space-between; justify-content: space-between; }
	.tablet-align-m{ -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center; }
	.tablet-align-h{ -webkit-flex-direction: row; flex-direction: row; }
	.tablet-align-v{ -webkit-flex-direction: column; flex-direction: column; }
	}

@media (min-width: 841px) {
	.desktop-align-l,
	.desktop-align-c,
	.desktop-align-r,
	.desktop-align-j,
	.desktop-align-m{ display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; }
	.desktop-align-l{ -webkit-align-items: flex-start; align-items: flex-start; }
	.desktop-align-c{ -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center; }
	.desktop-align-r{ -webkit-justify-content: flex-end; justify-content: flex-end; }
	.desktop-align-j{ -webkit-justify-content: space-between; justify-content: space-between; }
	.desktop-align-m{ -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center; }
	.desktop-align-h{ -webkit-flex-direction: row; flex-direction: row; }
	.desktop-align-v{ -webkit-flex-direction: column; flex-direction: column; }	
	}

/* ---------------------------------
POSITION
.pos-t-l -> Position top left
.pos-t-r -> Position top right
.pos-b-l -> Position bottom left
.pos-b-r -> Position bottom right
--------------------------------- */

.pos-full,
.pos-t-l,
.pos-t-r,
.pos-t-c,
.pos-b-l,
.pos-b-r,
.pos-b-c,
.pos-r-c,
.pos-l-c,
.phone-pos-full,
.phone-pos-t-l,
.phone-pos-t-r,
.phone-pos-b-l,
.phone-pos-b-r,
.phone-pos-b-c,
.phone-pos-r-c,
.phone-pos-l-c,
.phone-pos-middle,
.phone-pos-middle-v,
.tablet-pos-full,
.tablet-pos-t-l,
.tablet-pos-t-r,
.tablet-pos-b-l,
.tablet-pos-b-r,
.tablet-pos-b-c,
.tablet-pos-r-c,
.tablet-pos-l-c,
.tablet-pos-middle,
.tablet-pos-middle-v,
.desktop-pos-full,
.desktop-pos-t-l,
.desktop-pos-t-r,
.desktop-pos-t-c,
.desktop-pos-b-l,
.desktop-pos-b-r,
.desktop-pos-b-c,
.desktop-pos-r-c,
.desktop-pos-l-c,
.desktop-pos-middle,
.desktop-pos-middle-v{
	position: absolute;
	}

.pos-relative{ position: relative !important; }
.pos-full{ top: 0px; right: 0px; bottom: 0px; left: 0px; }
.pos-t-l{ top: 0px; left: 0px; }
.pos-t-r{ top: 0px; right: 0px; }
.pos-t-c{ 
	top: 0px; left: 50%; 
	-ms-transform: translate(-50%, 0); /* IE 9 */
   	-webkit-transform: translate(-50%, 0); /* Safari */
    transform: translate(-50%, 0);
	}

.pos-b-l{ bottom: 0px; left: 0px; }
.pos-b-r{ right: 0px; bottom: 0px; }
.pos-b-c{ 
	bottom: 0px; left: 50%; 
	-ms-transform: translate(-50%, 0); /* IE 9 */
   	-webkit-transform: translate(-50%, 0); /* Safari */
    transform: translate(-50%, 0);
	}

.pos-r-c{
	top: 50%; right: 0; 
	-ms-transform: translate(0, -50%); /* IE 9 */
   	-webkit-transform: translate(0, -50%); /* Safari */
    transform: translate(0, -50%);
	}
.pos-l-c{
	top: 50%; left: 0; 
	-ms-transform: translate(0, -50%); /* IE 9 */
   	-webkit-transform: translate(0, -50%); /* Safari */
    transform: translate(0, -50%);
	}

.pos-middle{
	position: absolute;
	top: 50%;
	left: 50%;
	max-height: 100%;
	max-width: 100%;
	-ms-transform: translate(-50%, -50%); /* IE 9 */
   	-webkit-transform: translate(-50%, -50%); /* Safari */
    transform: translate(-50%, -50%);
	}

.pos-middle-v{
	position: absolute;
	top: 50%;
	width: 100%;
	max-height: 100%;
	-ms-transform: translate(0,-50%); /* IE 9 */
   	-webkit-transform: translate(0,-50%); /* Safari */
    transform: translate(0,-50%);
	}

.pos-t-5{ top: 5px; }
.pos-t-10{ top: 10px; }
.pos-r-5{ right: 5px; }
.pos-r-10{ right: 10px; }
.pos-b-5{ bottom: 5px; }
.pos-b-10{ bottom: 10px; }
.pos-l-5{ left: 5px; }
.pos-l-10{ left: 10px; }

@media (max-width: 480px) {
	.phone-pos-relative{ position: relative !important; }
	.phone-pos-full{ top: 0px; right: 0px; bottom: 0px; left: 0px; }
	.phone-pos-t-l{ top: 0px; left: 0px; }
	.phone-pos-t-r{ top: 0px; right: 0px; }
	.phone-pos-t-c{ top: 0px; left: 50%; -ms-transform: translate(-50%, 0);-webkit-transform: translate(-50%, 0);transform: translate(-50%, 0); }
	.phone-pos-b-l{ bottom: 0px; left: 0px; }
	.phone-pos-b-r{ right: 0px; bottom: 0px; }	
	.phone-pos-b-c{ bottom: 0px; left: 50%; -ms-transform: translate(-50%, 0); -webkit-transform: translate(-50%, 0); transform: translate(-50%, 0); }
	.phone-pos-r-c{ top: 50%; right: 0; -ms-transform: translate(0, -50%); -webkit-transform: translate(0, -50%); transform: translate(0, -50%); }
	.phone-pos-l-c{ top: 50%; left: 0; -ms-transform: translate(0, -50%); -webkit-transform: translate(0, -50%); transform: translate(0, -50%); }
	.phone-pos-middle{ top: 50%; left: 50%; max-height: 100%; max-width: 100%; -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
	}

@media (min-width: 481px) and (max-width: 840px) {
	.tablet-pos-relative{ position: relative !important; }
	.tablet-pos-full{ top: 0px; right: 0px; bottom: 0px; left: 0px; }
	.tablet-pos-t-l{ top: 0px; left: 0px; }
	.tablet-pos-t-r{ top: 0px; right: 0px; }
	.tablet-pos-t-c{ top: 0px; left: 50%; -ms-transform: translate(-50%, 0);-webkit-transform: translate(-50%, 0);transform: translate(-50%, 0); }
	.tablet-pos-b-l{ bottom: 0px; left: 0px; }
	.tablet-pos-b-r{ right: 0px; bottom: 0px; }	
	.tablet-pos-b-c{ bottom: 0px; left: 50%; -ms-transform: translate(-50%, 0); -webkit-transform: translate(-50%, 0); transform: translate(-50%, 0); }
	.tablet-pos-r-c{ top: 50%; right: 0; -ms-transform: translate(0, -50%); -webkit-transform: translate(0, -50%); transform: translate(0, -50%); }
	.tablet-pos-l-c{ top: 50%; left: 0; -ms-transform: translate(0, -50%); -webkit-transform: translate(0, -50%); transform: translate(0, -50%); }
	.tablet-pos-middle{ top: 50%; left: 50%; max-height: 100%; max-width: 100%; -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
	}

@media (min-width: 841px) {
	.desktop-pos-relative{ position: relative !important; }
	.desktop-pos-full{ top: 0px; right: 0px; bottom: 0px; left: 0px; }
	.desktop-pos-t-l{ top: 0px; left: 0px; }
	.desktop-pos-t-r{ top: 0px; right: 0px; }
	.desktop-pos-t-c{ top: 0px; left: 50%; -ms-transform: translate(-50%, 0);-webkit-transform: translate(-50%, 0);transform: translate(-50%, 0); }
	.desktop-pos-b-l{ bottom: 0px; left: 0px; }
	.desktop-pos-b-r{ right: 0px; bottom: 0px; }	
	.desktop-pos-b-c{ bottom: 0px; left: 50%; -ms-transform: translate(-50%, 0); -webkit-transform: translate(-50%, 0); transform: translate(-50%, 0); }
	.desktop-pos-r-c{ top: 50%; right: 0; -ms-transform: translate(0, -50%); -webkit-transform: translate(0, -50%); transform: translate(0, -50%); }
	.desktop-pos-l-c{ top: 50%; left: 0; -ms-transform: translate(0, -50%); -webkit-transform: translate(0, -50%); transform: translate(0, -50%); }
	.desktop-pos-middle{ top: 50%; left: 50%; max-height: 100%; max-width: 100%; -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
	}

/* ---------------------------------
PADDING
--------------------------------- */
.pad-0{ 		padding: 0px; 	}
.pad-5{ 		padding: 5px; 	}
.pad-10{ 		padding: 10px; 	}
.pad-15{ 		padding: 15px; 	}
.pad-20{ 		padding: 20px; 	}
.pad-30{ 		padding: 30px; 	}
.pad-40{ 		padding: 40px; 	}
.pad-50{ 		padding: 50px; 	}
.pad-60{ 		padding: 60px; 	}

.pad-r-0{ 		padding-right: 0px; 	}
.pad-r-5{ 		padding-right: 5px; 	}
.pad-r-10{ 		padding-right: 10px; 	}
.pad-r-15{ 		padding-right: 15px; 	}
.pad-r-20{ 		padding-right: 20px; 	}
.pad-r-30{ 		padding-right: 30px; 	}
.pad-r-40{ 		padding-right: 40px; 	}
.pad-r-50{ 		padding-right: 50px; 	}
.pad-r-60{ 		padding-right: 60px; 	}

.pad-l-0{ 		padding-left: 0px; 		}
.pad-l-5{ 		padding-left: 5px; 		}
.pad-l-10{ 		padding-left: 10px; 	}
.pad-l-15{ 		padding-left: 15px; 	}
.pad-l-20{ 		padding-left: 20px; 	}
.pad-l-30{ 		padding-left: 30px; 	}
.pad-l-40{ 		padding-left: 40px; 	}
.pad-l-50{ 		padding-left: 50px; 	}
.pad-l-60{ 		padding-left: 60px; 	}

.pad-b-0{ 		padding-bottom: 0px; 	}
.pad-b-5{ 		padding-bottom: 5px; 	}
.pad-b-10{ 		padding-bottom: 10px; 	}
.pad-b-15{ 		padding-bottom: 15px; 	}
.pad-b-20{ 		padding-bottom: 20px; 	}
.pad-b-30{ 		padding-bottom: 30px; 	}
.pad-b-40{ 		padding-bottom: 40px; 	}
.pad-b-50{ 		padding-bottom: 50px; 	}
.pad-b-60{ 		padding-bottom: 60px; 	}

.pad-t-0{ 		padding-top: 0px; 		}
.pad-t-5{ 		padding-top: 5px; 		}
.pad-t-10{ 		padding-top: 10px; 		}
.pad-t-15{ 		padding-top: 15px; 		}
.pad-t-20{ 		padding-top: 20px; 		}
.pad-t-30{ 		padding-top: 30px; 		}
.pad-t-40{ 		padding-top: 40px; 		}
.pad-t-50{ 		padding-top: 50px; 		}
.pad-t-60{ 		padding-top: 60px; 		}

.pad-v-5{ 		padding: 5px 0px; 		}
.pad-v-10{ 		padding: 10px 0px; 		}
.pad-v-15{ 		padding: 15px 0px; 		}
.pad-v-20{ 		padding: 20px 0px; 		}
.pad-v-30{ 		padding: 30px 0px; 		}
.pad-v-40{ 		padding: 40px 0px; 		}
.pad-v-50{ 		padding: 50px 0px; 		}
.pad-v-60{ 		padding: 60px 0px; 		}

.pad-h-5{ 		padding: 0px 5px; 		}
.pad-h-10{ 		padding: 0px 10px; 		}
.pad-h-15{ 		padding: 0px 15px; 		}
.pad-h-20{ 		padding: 0px 20px; 		}
.pad-h-30{ 		padding: 0px 30px; 		}
.pad-h-40{ 		padding: 0px 40px; 		}

@media (max-width: 480px) {
	.phone-pad-5{ 		padding: 5px; 	}
	.phone-pad-10{ 		padding: 10px; 	}
	.phone-pad-15{ 		padding: 15px; 	}
	.phone-pad-20{ 		padding: 20px; 	}
	.phone-pad-30{ 		padding: 30px; 	}
	.phone-pad-40{ 		padding: 40px; 	}
	.phone-pad-50{ 		padding: 50px; 	}
	.phone-pad-60{ 		padding: 60px; 	}

	.phone-pad-r-0{ 	padding-right: 0px; 	}
	.phone-pad-r-5{ 	padding-right: 5px; 	}
	.phone-pad-r-10{ 	padding-right: 10px; 	}
	.phone-pad-r-15{ 	padding-right: 15px; 	}
	.phone-pad-r-20{ 	padding-right: 20px; 	}
	.phone-pad-r-30{ 	padding-right: 30px; 	}
	.phone-pad-r-40{ 	padding-right: 40px; 	}
	.phone-pad-r-50{ 	padding-right: 50px; 	}
	.phone-pad-r-60{ 	padding-right: 60px; 	}

	.phone-pad-l-0{ 	padding-left: 0px; 		}
	.phone-pad-l-5{ 	padding-left: 5px; 		}
	.phone-pad-l-10{ 	padding-left: 10px; 	}
	.phone-pad-l-15{ 	padding-left: 15px; 	}
	.phone-pad-l-20{ 	padding-left: 20px; 	}
	.phone-pad-l-30{ 	padding-left: 30px; 	}
	.phone-pad-l-40{ 	padding-left: 40px; 	}
	.phone-pad-l-50{ 	padding-left: 50px; 	}
	.phone-pad-l-60{ 	padding-left: 60px; 	}

	.phone-pad-b-0{ 	padding-bottom: 0px; 	}
	.phone-pad-b-5{ 	padding-bottom: 5px; 	}
	.phone-pad-b-10{ 	padding-bottom: 10px; 	}
	.phone-pad-b-15{ 	padding-bottom: 15px; 	}
	.phone-pad-b-20{ 	padding-bottom: 20px; 	}
	.phone-pad-b-30{ 	padding-bottom: 30px; 	}
	.phone-pad-b-40{ 	padding-bottom: 40px; 	}
	.phone-pad-b-50{ 	padding-bottom: 50px; 	}
	.phone-pad-b-60{ 	padding-bottom: 60px; 	}

	.phone-pad-t-0{ 	padding-top: 0px; 		}
	.phone-pad-t-5{ 	padding-top: 5px; 		}
	.phone-pad-t-10{ 	padding-top: 10px; 		}
	.phone-pad-t-15{ 	padding-top: 15px; 		}
	.phone-pad-t-20{ 	padding-top: 20px; 		}
	.phone-pad-t-30{ 	padding-top: 30px; 		}
	.phone-pad-t-40{ 	padding-top: 40px; 		}
	.phone-pad-t-50{ 	padding-top: 50px; 		}
	.phone-pad-t-60{ 	padding-top: 60px; 		}

	.phone-pad-v-5{ 	padding: 5px 0px; 		}
	.phone-pad-v-10{ 	padding: 10px 0px; 		}
	.phone-pad-v-15{ 	padding: 15px 0px; 		}
	.phone-pad-v-20{ 	padding: 20px 0px; 		}
	.phone-pad-v-30{ 	padding: 30px 0px; 		}
	.phone-pad-v-40{ 	padding: 40px 0px; 		}
	.phone-pad-v-50{ 	padding: 50px 0px; 		}
	.phone-pad-v-60{ 	padding: 60px 0px; 		}

	.phone-pad-h-5{ 	padding: 0px 5px; 		}
	.phone-pad-h-10{ 	padding: 0px 10px; 		}
	.phone-pad-h-15{ 	padding: 0px 15px; 		}
	.phone-pad-h-20{ 	padding: 0px 20px; 		}
	.phone-pad-h-30{ 	padding: 0px 30px; 		}
	.phone-pad-h-40{ 	padding: 0px 40px; 		}
	.phone-pad-h-50{ 	padding: 0px 50px; 		}
	.phone-pad-h-60{ 	padding: 0px 60px; 		}

	}

@media (min-width: 481px) and (max-width: 840px) {
	
	.tablet-pad-0{ 		padding: 0px; 	}
	.tablet-pad-5{ 		padding: 5px; 	}
	.tablet-pad-10{ 	padding: 10px; 	}
	.tablet-pad-15{ 	padding: 15px; 	}
	.tablet-pad-20{ 	padding: 20px; 	}
	.tablet-pad-30{ 	padding: 30px; 	}
	.tablet-pad-40{ 	padding: 40px; 	}
	.tablet-pad-50{ 	padding: 50px; 	}
	.tablet-pad-60{ 	padding: 60px; 	}

	.tablet-pad-r-0{ 	padding-right: 0px; 	}
	.tablet-pad-r-5{ 	padding-right: 5px; 	}
	.tablet-pad-r-10{ 	padding-right: 10px; 	}
	.tablet-pad-r-15{ 	padding-right: 15px; 	}
	.tablet-pad-r-20{ 	padding-right: 20px; 	}
	.tablet-pad-r-30{ 	padding-right: 30px; 	}
	.tablet-pad-r-40{ 	padding-right: 40px; 	}
	.tablet-pad-r-50{ 	padding-right: 50px; 	}
	.tablet-pad-r-60{ 	padding-right: 60px; 	}

	.tablet-pad-l-0{ 	padding-left: 0px; 		}
	.tablet-pad-l-5{ 	padding-left: 5px; 		}
	.tablet-pad-l-10{ 	padding-left: 10px; 	}
	.tablet-pad-l-15{ 	padding-left: 15px; 	}
	.tablet-pad-l-20{ 	padding-left: 20px; 	}
	.tablet-pad-l-30{ 	padding-left: 30px; 	}
	.tablet-pad-l-40{ 	padding-left: 40px; 	}
	.tablet-pad-l-50{ 	padding-left: 50px; 	}
	.tablet-pad-l-60{ 	padding-left: 60px; 	}

	.tablet-pad-b-0{ 	padding-bottom: 0px; 	}
	.tablet-pad-b-5{ 	padding-bottom: 5px; 	}
	.tablet-pad-b-10{ 	padding-bottom: 10px; 	}
	.tablet-pad-b-15{ 	padding-bottom: 15px; 	}
	.tablet-pad-b-20{ 	padding-bottom: 20px; 	}
	.tablet-pad-b-30{ 	padding-bottom: 30px; 	}
	.tablet-pad-b-40{ 	padding-bottom: 40px; 	}
	.tablet-pad-b-50{ 	padding-bottom: 50px; 	}
	.tablet-pad-b-60{ 	padding-bottom: 60px; 	}

	.tablet-pad-t-0{ 	padding-top: 0px; 		}
	.tablet-pad-t-5{ 	padding-top: 5px; 		}
	.tablet-pad-t-10{ 	padding-top: 10px; 		}
	.tablet-pad-t-15{ 	padding-top: 15px; 		}
	.tablet-pad-t-20{ 	padding-top: 20px; 		}
	.tablet-pad-t-30{ 	padding-top: 30px; 		}
	.tablet-pad-t-40{ 	padding-top: 40px; 		}
	.tablet-pad-t-50{ 	padding-top: 50px; 		}
	.tablet-pad-t-60{ 	padding-top: 60px; 		}

	.tablet-pad-v-5{ 	padding: 5px 0px; 		}
	.tablet-pad-v-10{ 	padding: 10px 0px; 		}
	.tablet-pad-v-15{ 	padding: 15px 0px; 		}
	.tablet-pad-v-20{ 	padding: 20px 0px; 		}
	.tablet-pad-v-30{ 	padding: 30px 0px; 		}
	.tablet-pad-v-40{ 	padding: 40px 0px; 		}
	.tablet-pad-v-50{ 	padding: 50px 0px; 		}
	.tablet-pad-v-60{ 	padding: 60px 0px; 		}

	.tablet-pad-h-5{ 	padding: 0px 5px; 		}
	.tablet-pad-h-10{ 	padding: 0px 10px; 		}
	.tablet-pad-h-15{ 	padding: 0px 15px; 		}
	.tablet-pad-h-20{ 	padding: 0px 20px; 		}
	.tablet-pad-h-30{ 	padding: 0px 30px; 		}
	.tablet-pad-h-40{ 	padding: 0px 40px; 		}
	.tablet-pad-h-50{ 	padding: 0px 50px; 		}
	.tablet-pad-h-60{ 	padding: 0px 60px; 		}

	}

@media (min-width: 841px) {

	.desktop-pad-0{ 	padding: 0px; 	}
	.desktop-pad-5{ 	padding: 5px; 	}
	.desktop-pad-10{ 	padding: 10px; 	}
	.desktop-pad-15{ 	padding: 15px; 	}
	.desktop-pad-20{ 	padding: 20px; 	}
	.desktop-pad-30{ 	padding: 30px; 	}
	.desktop-pad-40{ 	padding: 40px; 	}
	.desktop-pad-50{ 	padding: 50px; 	}
	.desktop-pad-60{ 	padding: 60px; 	}

	.desktop-pad-r-0{ 	padding-right: 0px; 	}
	.desktop-pad-r-5{ 	padding-right: 5px; 	}
	.desktop-pad-r-10{ 	padding-right: 10px; 	}
	.desktop-pad-r-15{ 	padding-right: 15px; 	}
	.desktop-pad-r-20{ 	padding-right: 20px; 	}
	.desktop-pad-r-30{ 	padding-right: 30px; 	}
	.desktop-pad-r-40{ 	padding-right: 40px; 	}
	.desktop-pad-r-50{ 	padding-right: 50px; 	}
	.desktop-pad-r-60{ 	padding-right: 60px; 	}

	.desktop-pad-l-0{ 	padding-left: 0px; 		}
	.desktop-pad-l-5{ 	padding-left: 5px; 		}
	.desktop-pad-l-10{ 	padding-left: 10px; 	}
	.desktop-pad-l-15{ 	padding-left: 15px; 	}
	.desktop-pad-l-20{ 	padding-left: 20px; 	}
	.desktop-pad-l-30{ 	padding-left: 30px; 	}
	.desktop-pad-l-40{ 	padding-left: 40px; 	}
	.desktop-pad-l-50{ 	padding-left: 50px; 	}
	.desktop-pad-l-60{ 	padding-left: 60px; 	}

	.desktop-pad-b-0{ 	padding-bottom: 0px; 	}
	.desktop-pad-b-5{ 	padding-bottom: 5px; 	}
	.desktop-pad-b-10{ 	padding-bottom: 10px; 	}
	.desktop-pad-b-15{ 	padding-bottom: 15px; 	}
	.desktop-pad-b-20{ 	padding-bottom: 20px; 	}
	.desktop-pad-b-30{ 	padding-bottom: 30px; 	}
	.desktop-pad-b-40{ 	padding-bottom: 40px; 	}
	.desktop-pad-b-50{ 	padding-bottom: 50px; 	}
	.desktop-pad-b-60{ 	padding-bottom: 60px; 	}

	.desktop-pad-t-0{ 	padding-top: 0px; 		}
	.desktop-pad-t-5{ 	padding-top: 5px; 		}
	.desktop-pad-t-10{ 	padding-top: 10px; 		}
	.desktop-pad-t-15{ 	padding-top: 15px; 		}
	.desktop-pad-t-20{ 	padding-top: 20px; 		}
	.desktop-pad-t-30{ 	padding-top: 30px; 		}
	.desktop-pad-t-40{ 	padding-top: 40px; 		}
	.desktop-pad-t-50{ 	padding-top: 50px; 		}
	.desktop-pad-t-60{ 	padding-top: 60px; 		}

	.desktop-pad-v-5{ 	padding: 5px 0px; 		}
	.desktop-pad-v-10{ 	padding: 10px 0px; 		}
	.desktop-pad-v-15{ 	padding: 15px 0px; 		}
	.desktop-pad-v-20{ 	padding: 20px 0px; 		}
	.desktop-pad-v-30{ 	padding: 30px 0px; 		}
	.desktop-pad-v-40{ 	padding: 40px 0px; 		}
	.desktop-pad-v-50{ 	padding: 50px 0px; 		}
	.desktop-pad-v-60{ 	padding: 60px 0px; 		}

	.desktop-pad-h-5{ 	padding: 0px 5px; 		}
	.desktop-pad-h-10{ 	padding: 0px 10px; 		}
	.desktop-pad-h-15{ 	padding: 0px 15px; 		}
	.desktop-pad-h-20{ 	padding: 0px 20px; 		}
	.desktop-pad-h-30{ 	padding: 0px 30px; 		}
	.desktop-pad-h-40{ 	padding: 0px 40px; 		}
	.desktop-pad-h-50{ 	padding: 0px 50px; 		}
	.desktop-pad-h-60{ 	padding: 0px 60px; 		}

	}

/* ---------------------------------
MARGIN
.margin-r	-> Margin right
.margin-l	-> Margin left
.margin-t	-> Margin top
.margin-b	-> Margin bottom

--------------------------------- */
.margin-0{ 		margin: 0px; 			}
.margin-5{ 		margin: 5px; 			}
.margin-10{ 	margin: 10px; 			}
.margin-15{ 	margin: 15px; 			}
.margin-20{ 	margin: 20px; 			}
.margin-30{ 	margin: 30px; 			}
.margin-40{ 	margin: 40px; 			}
.margin-50{ 	margin: 50px; 			}
.margin-60{ 	margin: 60px; 			}

.margin-r-0{ 	margin-right: 0px; 		}
.margin-r-5{ 	margin-right: 5px; 		}
.margin-r-10{ 	margin-right: 10px; 	}
.margin-r-15{ 	margin-right: 15px; 	}
.margin-r-20{ 	margin-right: 20px; 	}
.margin-r-30{ 	margin-right: 30px; 	}
.margin-r-40{ 	margin-right: 40px; 	}
.margin-r-50{ 	margin-right: 50px; 	}
.margin-r-60{ 	margin-right: 60px; 	}

.margin-l-0{ 	margin-left: 0px; 		}
.margin-l-5{ 	margin-left: 5px; 		}
.margin-l-10{ 	margin-left: 10px; 		}
.margin-l-15{ 	margin-left: 15px; 		}
.margin-l-20{ 	margin-left: 20px; 		}
.margin-l-30{ 	margin-left: 30px; 		}
.margin-l-40{ 	margin-left: 40px; 		}
.margin-l-50{ 	margin-left: 50px; 		}
.margin-l-60{ 	margin-left: 60px; 		}

.margin-b-0{ 	margin-bottom: 0px; 	}
.margin-b-5{ 	margin-bottom: 5px; 	}
.margin-b-10{ 	margin-bottom: 10px; 	}
.margin-b-15{ 	margin-bottom: 15px; 	}
.margin-b-20{ 	margin-bottom: 20px; 	}
.margin-b-30{ 	margin-bottom: 30px; 	}
.margin-b-40{ 	margin-bottom: 40px; 	}
.margin-b-50{ 	margin-bottom: 50px; 	}
.margin-b-60{ 	margin-bottom: 60px; 	}

.margin-t-0{ 	margin-top: 0px; 		}
.margin-t-5{ 	margin-top: 5px; 		}
.margin-t-10{ 	margin-top: 10px; 		}
.margin-t-15{ 	margin-top: 15px; 		}
.margin-t-20{ 	margin-top: 20px; 		}
.margin-t-30{ 	margin-top: 30px; 		}
.margin-t-40{ 	margin-top: 40px; 		}
.margin-t-50{ 	margin-top: 50px; 		}
.margin-t-60{ 	margin-top: 60px; 		}

.margin-v-5{ 	margin: 5px 0px; 	}
.margin-v-10{ 	margin: 10px 0px; 	}
.margin-v-15{ 	margin: 15px 0px; 	}
.margin-v-20{ 	margin: 20px 0px; 	}
.margin-v-30{ 	margin: 30px 0px; 	}
.margin-v-40{ 	margin: 40px 0px; 	}
.margin-v-50{ 	margin: 50px 0px; 	}
.margin-v-60{ 	margin: 60px 0px; 	}

.margin-h-5{ 	margin: 0px 5px; 	}
.margin-h-10{ 	margin: 0px 10px; 	}
.margin-h-15{ 	margin: 0px 15px; 	}
.margin-h-20{ 	margin: 0px 20px; 	}
.margin-h-30{ 	margin: 0px 30px; 	}
.margin-h-40{ 	margin: 0px 40px; 	}
.margin-h-50{ 	margin: 0px 50px; 	}
.margin-h-60{ 	margin: 0px 60px; 	}

@media (max-width: 480px) {

	.phone-margin-0{ 		margin: 0px; 			}
	.phone-margin-5{ 		margin: 5px; 			}
	.phone-margin-10{ 		margin: 10px; 			}
	.phone-margin-15{ 		margin: 15px; 			}
	.phone-margin-20{ 		margin: 20px; 			}
	.phone-margin-30{ 		margin: 30px; 			}
	.phone-margin-40{ 		margin: 40px; 			}
	.phone-margin-50{ 		margin: 50px; 			}
	.phone-margin-60{ 		margin: 60px; 			}

	.phone-margin-r-0{ 		margin-right: 0px; 		}
	.phone-margin-r-5{ 		margin-right: 5px; 		}
	.phone-margin-r-10{ 	margin-right: 10px; 	}
	.phone-margin-r-15{ 	margin-right: 15px; 	}
	.phone-margin-r-20{ 	margin-right: 20px; 	}
	.phone-margin-r-30{ 	margin-right: 30px; 	}
	.phone-margin-r-40{ 	margin-right: 40px; 	}
	.phone-margin-r-50{ 	margin-right: 50px; 	}
	.phone-margin-r-60{ 	margin-right: 60px; 	}

	.phone-margin-l-0{ 		margin-left: 0px; 		}
	.phone-margin-l-5{ 		margin-left: 5px; 		}
	.phone-margin-l-10{ 	margin-left: 10px; 		}
	.phone-margin-l-15{ 	margin-left: 15px; 		}
	.phone-margin-l-20{ 	margin-left: 20px; 		}
	.phone-margin-l-30{ 	margin-left: 30px; 		}
	.phone-margin-l-40{ 	margin-left: 40px; 		}
	.phone-margin-l-50{ 	margin-left: 50px; 		}
	.phone-margin-l-60{ 	margin-left: 60px; 		}

	.phone-margin-b-0{ 		margin-bottom: 0px; 	}
	.phone-margin-b-5{ 		margin-bottom: 5px; 	}
	.phone-margin-b-10{ 	margin-bottom: 10px; 	}
	.phone-margin-b-15{ 	margin-bottom: 15px; 	}
	.phone-margin-b-20{ 	margin-bottom: 20px; 	}
	.phone-margin-b-30{ 	margin-bottom: 30px; 	}
	.phone-margin-b-40{ 	margin-bottom: 40px; 	}
	.phone-margin-b-50{ 	margin-bottom: 50px; 	}
	.phone-margin-b-60{ 	margin-bottom: 60px; 	}

	.phone-margin-t-0{ 		margin-top: 0px; 		}
	.phone-margin-t-5{ 		margin-top: 5px; 		}
	.phone-margin-t-10{ 	margin-top: 10px; 		}
	.phone-margin-t-15{ 	margin-top: 15px; 		}
	.phone-margin-t-20{ 	margin-top: 20px; 		}
	.phone-margin-t-30{ 	margin-top: 30px; 		}
	.phone-margin-t-40{ 	margin-top: 40px; 		}
	.phone-margin-t-50{ 	margin-top: 50px; 		}
	.phone-margin-t-60{ 	margin-top: 60px; 		}

	.phone-margin-v-5{ 		padding: 5px 0px; 	}
	.phone-margin-v-10{ 	padding: 10px 0px; 	}
	.phone-margin-v-15{ 	padding: 15px 0px; 	}
	.phone-margin-v-20{ 	padding: 20px 0px; 	}
	.phone-margin-v-30{ 	padding: 30px 0px; 	}
	.phone-margin-v-40{ 	padding: 40px 0px; 	}
	.phone-margin-v-50{ 	padding: 50px 0px; 	}
	.phone-margin-v-60{ 	padding: 60px 0px; 	}

	.phone-margin-h-5{ 		padding: 0px 5px; 	}
	.phone-margin-h-10{ 	padding: 0px 10px; 	}
	.phone-margin-h-15{ 	padding: 0px 15px; 	}
	.phone-margin-h-20{ 	padding: 0px 20px; 	}
	.phone-margin-h-30{ 	padding: 0px 30px; 	}
	.phone-margin-h-40{ 	padding: 0px 40px; 	}
	.phone-margin-h-50{ 	padding: 0px 50px; 	}
	.phone-margin-h-60{ 	padding: 0px 60px; 	}

	}

@media (min-width: 481px) and (max-width: 840px) {
	
	.tablet-margin-0{ 		margin: 0px; 			}
	.tablet-margin-5{ 		margin: 5px; 			}
	.tablet-margin-10{ 		margin: 10px; 			}
	.tablet-margin-15{ 		margin: 15px; 			}
	.tablet-margin-20{ 		margin: 20px; 			}
	.tablet-margin-30{ 		margin: 30px; 			}
	.tablet-margin-40{ 		margin: 40px; 			}
	.tablet-margin-50{ 		margin: 50px; 			}
	.tablet-margin-60{ 		margin: 60px; 			}

	.tablet-margin-r-0{ 	margin-right: 0px; 		}
	.tablet-margin-r-5{ 	margin-right: 5px; 		}
	.tablet-margin-r-10{ 	margin-right: 10px; 	}
	.tablet-margin-r-15{ 	margin-right: 15px; 	}
	.tablet-margin-r-20{ 	margin-right: 20px; 	}
	.tablet-margin-r-30{ 	margin-right: 30px; 	}
	.tablet-margin-r-40{ 	margin-right: 40px; 	}
	.tablet-margin-r-50{ 	margin-right: 50px; 	}
	.tablet-margin-r-60{ 	margin-right: 60px; 	}

	.tablet-margin-l-0{ 	margin-left: 0px; 		}
	.tablet-margin-l-5{ 	margin-left: 5px; 		}
	.tablet-margin-l-10{ 	margin-left: 10px; 		}
	.tablet-margin-l-15{ 	margin-left: 15px; 		}
	.tablet-margin-l-20{ 	margin-left: 20px; 		}
	.tablet-margin-l-30{ 	margin-left: 30px; 		}
	.tablet-margin-l-40{ 	margin-left: 40px; 		}
	.tablet-margin-l-50{ 	margin-left: 50px; 		}
	.tablet-margin-l-60{ 	margin-left: 60px; 		}

	.tablet-margin-b-0{ 	margin-bottom: 0px; 	}
	.tablet-margin-b-5{ 	margin-bottom: 5px; 	}
	.tablet-margin-b-10{ 	margin-bottom: 10px; 	}
	.tablet-margin-b-15{ 	margin-bottom: 15px; 	}
	.tablet-margin-b-20{ 	margin-bottom: 20px; 	}
	.tablet-margin-b-30{ 	margin-bottom: 30px; 	}
	.tablet-margin-b-40{ 	margin-bottom: 40px; 	}
	.tablet-margin-b-50{ 	margin-bottom: 50px; 	}
	.tablet-margin-b-60{ 	margin-bottom: 60px; 	}

	.tablet-margin-t-0{ 	margin-top: 0px; 		}
	.tablet-margin-t-5{ 	margin-top: 5px; 		}
	.tablet-margin-t-10{ 	margin-top: 10px; 		}
	.tablet-margin-t-15{ 	margin-top: 15px; 		}
	.tablet-margin-t-20{ 	margin-top: 20px; 		}
	.tablet-margin-t-30{ 	margin-top: 30px; 		}
	.tablet-margin-t-40{ 	margin-top: 40px; 		}
	.tablet-margin-t-50{ 	margin-top: 50px; 		}
	.tablet-margin-t-60{ 	margin-top: 60px; 		}

	.tablet-margin-v-5{ 	padding: 5px 0px; 	}
	.tablet-margin-v-10{ 	padding: 10px 0px; 	}
	.tablet-margin-v-15{ 	padding: 15px 0px; 	}
	.tablet-margin-v-20{ 	padding: 20px 0px; 	}
	.tablet-margin-v-30{ 	padding: 30px 0px; 	}
	.tablet-margin-v-40{ 	padding: 40px 0px; 	}
	.tablet-margin-v-50{ 	padding: 50px 0px; 	}
	.tablet-margin-v-60{ 	padding: 60px 0px; 	}
	
	.tablet-margin-h-5{ 	padding: 0px 5px; 	}
	.tablet-margin-h-10{ 	padding: 0px 10px; 	}
	.tablet-margin-h-15{ 	padding: 0px 15px; 	}
	.tablet-margin-h-20{ 	padding: 0px 20px; 	}
	.tablet-margin-h-30{ 	padding: 0px 30px; 	}
	.tablet-margin-h-40{ 	padding: 0px 40px; 	}
	.tablet-margin-h-50{ 	padding: 0px 50px; 	}
	.tablet-margin-h-60{ 	padding: 0px 60px; 	}

	}

@media (min-width: 841px) {
	
	.desktop-margin-0{ 		margin: 0px; 			}
	.desktop-margin-5{ 		margin: 5px; 			}
	.desktop-margin-10{ 	margin: 10px; 			}
	.desktop-margin-15{ 	margin: 15px; 			}
	.desktop-margin-20{ 	margin: 20px; 			}
	.desktop-margin-30{ 	margin: 30px; 			}
	.desktop-margin-40{ 	margin: 40px; 			}
	.desktop-margin-50{ 	margin: 50px; 			}
	.desktop-margin-60{ 	margin: 60px; 			}

	.desktop-margin-r-0{ 	margin-right: 0px; 		}
	.desktop-margin-r-5{ 	margin-right: 5px; 		}
	.desktop-margin-r-10{ 	margin-right: 10px; 	}
	.desktop-margin-r-15{ 	margin-right: 15px; 	}
	.desktop-margin-r-20{ 	margin-right: 20px; 	}
	.desktop-margin-r-30{ 	margin-right: 30px; 	}
	.desktop-margin-r-40{ 	margin-right: 40px; 	}
	.desktop-margin-r-50{ 	margin-right: 50px; 	}
	.desktop-margin-r-60{ 	margin-right: 60px; 	}

	.desktop-margin-l-0{ 	margin-left: 0px; 		}
	.desktop-margin-l-5{ 	margin-left: 5px; 		}
	.desktop-margin-l-10{ 	margin-left: 10px; 		}
	.desktop-margin-l-15{ 	margin-left: 15px; 		}
	.desktop-margin-l-20{ 	margin-left: 20px; 		}
	.desktop-margin-l-30{ 	margin-left: 30px; 		}
	.desktop-margin-l-40{ 	margin-left: 40px; 		}
	.desktop-margin-l-50{ 	margin-left: 50px; 		}
	.desktop-margin-l-60{ 	margin-left: 60px; 		}

	.desktop-margin-b-0{ 	margin-bottom: 0px; 	}
	.desktop-margin-b-5{ 	margin-bottom: 5px; 	}
	.desktop-margin-b-10{ 	margin-bottom: 10px; 	}
	.desktop-margin-b-15{ 	margin-bottom: 15px; 	}
	.desktop-margin-b-20{ 	margin-bottom: 20px; 	}
	.desktop-margin-b-30{ 	margin-bottom: 30px; 	}
	.desktop-margin-b-40{ 	margin-bottom: 40px; 	}
	.desktop-margin-b-50{ 	margin-bottom: 50px; 	}
	.desktop-margin-b-60{ 	margin-bottom: 60px; 	}

	.desktop-margin-t-0{ 	margin-top: 0px; 		}
	.desktop-margin-t-5{ 	margin-top: 5px; 		}
	.desktop-margin-t-10{ 	margin-top: 10px; 		}
	.desktop-margin-t-15{ 	margin-top: 15px; 		}
	.desktop-margin-t-20{ 	margin-top: 20px; 		}
	.desktop-margin-t-30{ 	margin-top: 30px; 		}
	.desktop-margin-t-40{ 	margin-top: 40px; 		}
	.desktop-margin-t-50{ 	margin-top: 50px; 		}
	.desktop-margin-t-60{ 	margin-top: 60px; 		}

	.desktop-margin-v-5{ 	padding: 5px 0px; 	}
	.desktop-margin-v-10{ 	padding: 10px 0px; 	}
	.desktop-margin-v-15{ 	padding: 15px 0px; 	}
	.desktop-margin-v-20{ 	padding: 20px 0px; 	}
	.desktop-margin-v-30{ 	padding: 30px 0px; 	}
	.desktop-margin-v-40{ 	padding: 40px 0px; 	}
	.desktop-margin-v-50{ 	padding: 50px 0px; 	}
	.desktop-margin-v-60{ 	padding: 60px 0px; 	}
	
	.desktop-margin-h-5{ 	padding: 0px 5px; 	}
	.desktop-margin-h-10{ 	padding: 0px 10px; 	}
	.desktop-margin-h-15{ 	padding: 0px 15px; 	}
	.desktop-margin-h-20{ 	padding: 0px 20px; 	}
	.desktop-margin-h-30{ 	padding: 0px 30px; 	}
	.desktop-margin-h-40{ 	padding: 0px 40px; 	}
	.desktop-margin-h-50{ 	padding: 0px 50px; 	}
	.desktop-margin-h-60{ 	padding: 0px 60px; 	}

	}

/* ---------------------------------
ASPECT
* Os estilos de aspect exigem 2 DIvs
para funcionar corretamente, exemplo:

	<div class="aspect-wide">
		<div></div>
	</div>

--------------------------------- */

.aspect-wide,
.aspect-photo,
.aspect-square,
.aspect-ultrawide,
.aspect-panoramic{
	width: 100%;
	position: relative;
	}

.aspect-panoramic{ padding-bottom: 32%; }
.aspect-ultrawide{ padding-bottom: 42.85%; }
.aspect-wide{ padding-bottom: 56.25%; }
.aspect-photo{ padding-bottom: 75%; }
.aspect-square{ padding-bottom: 100%; }

.aspect-wide > *:first-child,
.aspect-ultrawide > *:first-child,
.aspect-panoramic > *:first-child,
.aspect-photo > *:first-child,
.aspect-square > *:first-child{
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	}

@media (max-width: 480px) {

	.phone-aspect-wide,
	.phone-aspect-photo,
	.phone-aspect-square,
	.phone-aspect-ultrawide,
	.phone-aspect-panoramic{
		width: 100%;
		position: relative;
		}

	.phone-aspect-panoramic{ padding-bottom: 32%; }
	.phone-aspect-ultrawide{ padding-bottom: 42.85%; }
	.phone-aspect-wide{ padding-bottom: 56.25%; }
	.phone-aspect-photo{ padding-bottom: 75%; }
	.phone-aspect-square{ padding-bottom: 100%; }

	.phone-aspect-wide > *:first-child,
	.phone-aspect-ultrawide > *:first-child,
	.phone-aspect-panoramic > *:first-child,
	.phone-aspect-photo > *:first-child,
	.phone-aspect-square > *:first-child{
		position: absolute;
		top: 0; bottom: 0; left: 0; right: 0;
		}

	}

@media (min-width: 481px) and (max-width: 840px) {
	
	.tablet-aspect-wide,
	.tablet-aspect-photo,
	.tablet-aspect-square,
	.tablet-aspect-ultrawide,
	.tablet-aspect-panoramic{
		width: 100%;
		position: relative;
		}

	.tablet-aspect-panoramic{ padding-bottom: 30%; }
	.tablet-aspect-ultrawide{ padding-bottom: 42.85%; }
	.tablet-aspect-wide{ padding-bottom: 56.25%; }
	.tablet-aspect-photo{ padding-bottom: 75%; }
	.tablet-aspect-square{ padding-bottom: 100%; }

	.tablet-aspect-wide > *:first-child,
	.tablet-aspect-ultrawide > *:first-child,
	.tablet-aspect-panoramic > *:first-child,
	.tablet-aspect-photo > *:first-child,
	.tablet-aspect-square > *:first-child{
		position: absolute;
		top: 0; bottom: 0; left: 0; right: 0;
		}

	}

@media (min-width: 840px) {
	
	.desktop-aspect-wide,
	.desktop-aspect-photo,
	.desktop-aspect-square,
	.desktop-aspect-ultrawide,
	.desktop-aspect-panoramic{
		width: 100%;
		position: relative;
		}

	.desktop-aspect-panoramic{ padding-bottom: 30%; }
	.desktop-aspect-ultrawide{ padding-bottom: 42.85%; }
	.desktop-aspect-wide{ padding-bottom: 56.25%; }
	.desktop-aspect-photo{ padding-bottom: 75%; }
	.desktop-aspect-square{ padding-bottom: 100%; }

	.desktop-aspect-wide > *:first-child,
	.desktop-aspect-ultrawide > *:first-child,
	.desktop-aspect-panoramic > *:first-child,
	.desktop-aspect-photo > *:first-child,
	.desktop-aspect-square > *:first-child{
		position: absolute;
		top: 0; bottom: 0; left: 0; right: 0;
		}

	}

.full-size{
	display: block;
	width: 100%;
	height: 100%;
	}
.full-w,
.full-size-w{
	width: 100% !important;
	}
.full-h,
.full-size-h{
	height: 100%;
	}

.table{
	width: 100%;
	}
.table th{
	text-align: left;
	padding: 5px;
	}
.table td{
	padding: 5px;
	}
.table > tbody > tr:nth-child(even) > td{
	background-color: #EEE;
	}

.video-full,
.video-full > iframe{
	width: 100%;
	height: 100%;
	}