<div class="view-editor-item" style="background-color: #EEE;">
	<center>
		<table cellpadding="0" cellspacing="0" style="width: 650px; margin: 0; padding: 0; background-color: #FFF">
			<tr>
				<td width="30" style="width: 30px;"></td>
				<td>
					<table cellpadding="0" cellspacing="0" width="590" style="width: 590px; margin: 0; padding: 0">
						<tr>
							<td style="width: 100%">
								<img src="{{SELO}}" style="margin: 20px 0px 20px 0px">
							</td>
						</tr>
						<tr>
							<td style="width: 100%">
								<a style="text-decoration:none" href="{{HIPERLINK}}">
									<img src="{{FOTO}}" style="width: 100%; margin: 0px 0px 30px 0px">
								</a>
							</td>
						</tr>
						<tr>
							<td style="width: 100%">
								<a style="text-decoration:none" href="{{HIPERLINK}}">
									<p style="margin-bottom: 20px; line-height: 100%; display: block; font-size: 42px; font-family: Arial, 'sans-serif'; font-weight: bold; color: {{COR}};">{{TITULO}}</p>
								</a>
							</td>
						</tr>
						<tr>
							<td style="width: 100%">
								<p style="font-size: 18px; line-height: 140%; font-family: Arial, 'sans-serif'; font-weight: normal; color: #525343; margin-bottom: 10px;">{{TEXTO}}</p>
							</td>
						</tr>
						<tr>
							<td style="width: 100%" align="right">
								<a style="text-decoration:none" href="{{HIPERLINK}}">
									<img src="{{RODAPE_IMG}}" style="margin: 20px 0px 20px 0px">
								</a>
							</td>
						</tr>
					</table>
				</td>
				<td width="30" style="width: 30px;"></td>
			</tr>
		</table>
	</center>
</div>