<div class="view-editor-item" style="background-color: #EEE;">
	<center>
		<table cellpadding="0" cellspacing="0" style="width: 650px; margin: 0; padding: 0; background-color: #FFF">
			<tr>
				<td width="30" style="width: 30px;"></td>
				<td width="590" style="width: 590px;">
					<table bgcolor="#E9E8E6" cellpadding="0" cellspacing="0" width="590" style="width: 590px; margin: 0; padding: 0; background-color: #E9E8E6">
						<tr>
							<td width="280" style="width: 280px">
								<a style="text-decoration:none" href="{{HIPERLINK}}">
									<img src="{{FOTO}}" style="width: 100%; margin: 0px">
								</a>
							</td>
							<td width="31'0" style="width: 31'0px">
								<table cellpadding="0" cellspacing="0" width="310" style="width: 310px; margin: 0; padding: 0">
									<tr>
										<td width="20" style="width: 20px;"></td>
										<td width="270" style="width: 270px;">
											
											<table cellpadding="0" cellspacing="0" width="270" style="width: 270px; margin: 0; padding: 0">
												<tr>
													<td style="width: 100%">
														<img src="{{SELO}}" style="margin: 20px 0px 20px 0px">
													</td>
												</tr>
												<tr>
													<td style="width: 100%">
														<a style="text-decoration:none" href="{{HIPERLINK}}">
															<p style="margin-bottom: 15px; line-height: 100%; display: block; font-size: 21px; font-family: Arial, 'sans-serif'; font-weight: bold; color: {{COR}};">{{TITULO}}</p>
														</a>
													</td>
												</tr>
												<tr>
													<td style="width: 100%">
														<p style="font-size: 14px; line-height: 140%; font-family: Arial, 'sans-serif'; font-weight: normal; color: #424333; margin-bottom: 5px;">{{TEXTO}}</p>
													</td>
												</tr>
												<tr>
													<td style="width: 100%" align="right">
														<a style="text-decoration:none" href="{{HIPERLINK}}">
															<img src="{{RODAPE_IMG}}" style="margin: 15px 0px 10px 0px">
														</a>
													</td>
												</tr>
											</table>

										</td>
										<td width="20" style="width: 20px;"></td>
									</tr>
								</table>
								<br>

							</td>
						</tr>
					</table>
				</td>
				<td width="30" style="width: 30px;"></td>
			</tr>
		</table>
	</center>
</div>



