<div class="view-editor-item">
	<center>
		<table cellpadding="0" cellspacing="0" style="width: 600px; margin: 0; padding: 0">
			<tr>
				<td style="width: 100%;background-color:{{COLOR}}; padding: {{PAD}}px; min-height: 5px;" valign="top" bg-color="{{COLOR}}">&nbsp;</td>
			</tr>
		</table>
	</center>
</div>