body.sidebar-open{
    overflow: hidden;
    }
#sidebar{
	position: fixed;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 600;
	background-color: none;
	display: none;
	}
#sidebar-bg{
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	background: rgba(20, 20, 20, 0.5); 
	z-index: 198;
	}	
#sidebar-content{
	position: absolute;
	left:-240px;
	top: 0px;
	bottom: 0px;
	padding: 0px;
	background: #F6F6F6;
	z-index: 199;
	-moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.5); 
	-webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.5); 
	box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
	overflow: auto;
	}