<div class="view-editor-item">
	<center>
		<table cellpadding="0" cellspacing="0" style="width: 100%; margin: 0; padding: 0">
			<tr>
				<td style="width: 100%;background-color:{{COLOR}}; padding: {{PAD}}px" valign="top" bg-color="{{COLOR}}">
					{{TEXTO}}
				</td>
			</tr>
		</table>
	</center>
</div>