<div class="view-editor-item" style="background-color: #EEE;">
	<center>
		<table cellpadding="0" cellspacing="0" style="width: 650px; margin: 0; padding: 0; background-color: #FFF">
			<tr>
				<td width="30" style="width: 30px;"></td>
				<td width="274" style="width: 274px;">
					<table bgcolor="#E9E8E6" cellpadding="0" cellspacing="0" width="274" style="width: 274px; margin: 0; padding: 0; background-color: #E9E8E6">
						<tr>
							<td style="width: 100%">
								<a style="text-decoration:none" href="{{HIPERLINK_ESQ}}">
									<img src="{{FOTO_ESQ}}" style="width: 100%; margin: 0px">
								</a>
							</td>
						</tr>
						<tr>
							<td>

								
								<table cellpadding="0" cellspacing="0" width="274" style="width: 274px; margin: 0; padding: 0">
									<tr>
										<td width="17" style="width: 17px;"></td>
										<td width="230" style="width: 230px;">
											
											<table cellpadding="0" cellspacing="0" width="230" style="width: 230px; margin: 0; padding: 0">
												<tr>
													<td style="width: 100%">
														<img src="{{SELO_ESQ}}" style="margin: 20px 0px 20px 0px">
													</td>
												</tr>
												<tr>
													<td style="width: 100%">
														<a style="text-decoration:none" href="{{HIPERLINK_ESQ}}">
															<p style="margin-bottom: 20px; line-height: 100%; display: block; font-size: 21px; font-family: Arial, 'sans-serif'; font-weight: bold; color: {{COR_ESQ}};">{{TITULO_ESQ}}</p>
														</a>
													</td>
												</tr>
												<tr>
													<td style="width: 100%">
														<p style="font-size: 14px; line-height: 140%; font-family: Arial, 'sans-serif'; font-weight: normal; color: #424333; margin-bottom: 10px;">{{TEXTO_ESQ}}</p>
													</td>
												</tr>
												<tr>
													<td style="width: 100%" align="right">
														<a style="text-decoration:none" href="{{HIPERLINK_ESQ}}">
															<img src="{{RODAPE_IMG_ESQ}}" style="margin: 20px 0px 20px 0px">
														</a>
													</td>
												</tr>
											</table>

										</td>
										<td width="17" style="width: 17px;"></td>
									</tr>
								</table>
								<br>

							</td>
						</tr>
					</table>
				</td>
				<td width="30" style="width: 30px;"></td>
				<td width="274" style="width: 274px;">
					<table bgcolor="#E9E8E6" cellpadding="0" cellspacing="0" width="274" style="width: 274px; margin: 0; padding: 0; background-color: #E9E8E6">
						<tr>
							<td>

								<br>
								<table cellpadding="0" cellspacing="0" width="274" style="width: 274px; margin: 0; padding: 0">
									<tr>
										<td width="17" style="width: 17px;"></td>
										<td width="230" style="width: 230px;">
											
											<table cellpadding="0" cellspacing="0" width="230" style="width: 230px; margin: 0; padding: 0">
												<tr>
													<td style="width: 100%">
														<img src="{{SELO_DIR}}" style="margin: 0px 0px 20px 0px">
													</td>
												</tr>
												<tr>
													<td style="width: 100%">
														<a style="text-decoration:none" href="{{HIPERLINK_DIR}}">
															<p style="margin-bottom: 20px; line-height: 100%; display: block; font-size: 21px; font-family: Arial, 'sans-serif'; font-weight: bold; color: {{COR_DIR}};">{{TITULO_DIR}}</p>
														</a>
													</td>
												</tr>
												<tr>
													<td style="width: 100%">
														<p style="font-size: 14px; line-height: 140%; font-family: Arial, 'sans-serif'; font-weight: normal; color: #424333; margin-bottom: 10px;">{{TEXTO_DIR}}</p>
													</td>
												</tr>
												<tr>
													<td style="width: 100%" align="right">
														<a style="text-decoration:none" href="{{HIPERLINK_DIR}}">
															<img src="{{RODAPE_IMG_DIR}}" style="margin: 20px 0px 20px 0px">
														</a>
													</td>
												</tr>
											</table>

										</td>
										<td width="17" style="width: 17px;"></td>
									</tr>
								</table>
								<br>

							</td>
						</tr>
						<tr>
							<td style="width: 100%">
								<a style="text-decoration:none" href="{{HIPERLINK_DIR}}">
									<img src="{{FOTO_DIR}}" style="width: 100%; margin: 0px">
								</a>
							</td>
						</tr>
					</table>
				</td>
				<td width="30" style="width: 30px;"></td>
			</tr>
		</table>
	</center>
</div>



